address/v1/address.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://ns.medbiq.org/address/v1/"
	 targetNamespace = "http://ns.medbiq.org/address/v1/"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<!--Copyright © 2007 MedBiquitous Consortium. All Rights Reserved. http://www.medbiq.org-->
	
	
	<!--Modified August 16, 2007-->
	
	<xsd:simpleType name = "AddressCategoryType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "Residential"/>
			<xsd:enumeration value = "Business"/>
			<xsd:enumeration value = "Undeliverable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "NonNullString">
		<xsd:restriction base = "xsd:string">
			<xsd:minLength value = "1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "RestrictionsType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "Unrestricted"/>
			<xsd:enumeration value = "Restricted"/>
			<xsd:enumeration value = "Confidential"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name = "CountryType">
		<xsd:sequence>
			<xsd:element name = "CountryName" type = "NonNullString" minOccurs = "0"/>
			<xsd:element name = "CountryCode" type = "NonNullString" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "AddressType">
		<xsd:sequence>
			<xsd:element name = "ID" type = "NonNullString" minOccurs = "0"/>
			<xsd:element name = "Organization" type = "NonNullString" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "StreetAddressLine" type = "StreetAddressLineType" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "City" type = "NonNullString" minOccurs = "0"/>
			<xsd:element name = "StateOrProvince" type = "NonNullString" minOccurs = "0"/>
			<xsd:element name = "PostalCode" type = "NonNullString" minOccurs = "0"/>
			<xsd:element name = "Region" type = "NonNullString" minOccurs = "0"/>
			<xsd:element name = "District" type = "NonNullString" minOccurs = "0"/>
			<xsd:element name = "Country" type = "CountryType"/>
		</xsd:sequence>
		<xsd:attribute name = "addressCategory" type = "AddressCategoryType"/>
		<xsd:attribute name = "restrictions" type = "RestrictionsType"/>
	</xsd:complexType>
	<xsd:element name = "Address" type = "AddressType"/>
	<xsd:complexType name = "StreetAddressLineType">
		<xsd:simpleContent>
			<xsd:extension base = "NonNullString">
				<xsd:attribute name = "restrictions" type = "RestrictionsType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>