common/v1/attachment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (http://www.altova.com) by Valerie Smothers (Johns Hopkins) -->
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://ns.medbiq.org/common/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xop="http://www.w3.org/2004/08/xop/include" targetNamespace="http://ns.medbiq.org/common/v1/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--Copyright © 2010 MedBiquitous Consortium. All Rights Reserved. http://www.medbiq.org-->
	<!--Users are bound by the terms of the MedBiquitous Consortium XML Public License and Terms of Use-->
	<!--Modified 8 September 2011 -->
	<xsd:import namespace="http://www.w3.org/2004/08/xop/include" schemaLocation="http://www.w3.org/2004/08/xop/include"/>
	<xsd:element name="Attachment" type="AttachmentType"/>
	<xsd:complexType name="EncodedAttachmentType">
		<xsd:sequence>
			<xsd:element name="Encoding" type="EncodingType"/>
			<xsd:element name="MimeType" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string"/>
			<xsd:element name="BinaryEncoding" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencedAttachmentType">
		<xsd:sequence>
			<xsd:element name="URL" type="xsd:anyURI"/>
			<xsd:element name="MimeType" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WebServicesAttachmentType">
		<xsd:sequence>
			<xsd:element ref="xop:Include"/>
			<xsd:element name="Description" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="EncodingType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Base64"/>
			<xsd:enumeration value="Uuencoding"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AttachmentType">
		<xsd:choice>
			<xsd:element name="EncodedAttachment" type="EncodedAttachmentType"/>
			<xsd:element name="ReferencedAttachment" type="ReferencedAttachmentType"/>
			<xsd:element name="WebServicesAttachment" type="WebServicesAttachmentType"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
