name/v2/name_2013_09_11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by Valerie Smothers (Johns Hopkins at Mt Washington) -->
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://ns.medbiq.org/name/v2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mbq="http://ns.medbiq.org/common/v2/" targetNamespace="http://ns.medbiq.org/name/v2/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--Copyright © 2013 MedBiquitous Consortium. All Rights Reserved. http://www.medbiq.org-->
	<!--Modified September 11, 2013-->
	<xsd:import namespace="http://ns.medbiq.org/common/v2/" schemaLocation="http://ns.medbiq.org/common/v2/common.xsd"/>
	<xsd:attributeGroup name="CommonAttributes">
		<xsd:attribute name="id" type="xsd:ID"/>
		<xsd:attribute name="source" type="xsd:string"/>
		<xsd:attribute name="validityDate" type="xsd:date"/>
		<xsd:attribute name="restrictions" type="mbq:RestrictionsType"/>
	</xsd:attributeGroup>
	<xsd:simpleType name="NonNullString">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="NameDetails">
		<xsd:sequence>
			<xsd:element name="FormattedName" type="NonNullString" minOccurs="0"/>
			<xsd:element name="Title" type="NonNullString" minOccurs="0"/>
			<xsd:element name="GivenName" type="NonNullString" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="FamilyName" type="NonNullString" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="GenerationIdentifier" type="NonNullString" minOccurs="0"/>
			<xsd:element name="Degree" type="NonNullString" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="CommonAttributes"/>
	</xsd:complexType>
	<xsd:complexType name="NameType">
		<xsd:complexContent>
			<xsd:extension base="NameDetails">
				<xsd:sequence>
					<xsd:element name="Alias" type="NameDetails" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="FormerName" type="NameDetails" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Name" type="NameType"/>
</xsd:schema>
