activityreport/service/v1/activityreporttypes.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<!--Revision date November 9, 2006-->
<xsd:schema xmlns = "http://ns.medbiq.org/activityreport/service/v1/"
	 targetNamespace = "http://ns.medbiq.org/activityreport/service/v1/"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:a = "http://ns.medbiq.org/activityreport/v1/">
	<xsd:import namespace = "http://ns.medbiq.org/activityreport/v1/" schemaLocation = "http://ns.medbiq.org/activityreport/v1/activityreport.xsd"/>
	<xsd:element name = "readActivityReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "a:ActivityReports"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "readActivityReportResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "ResultSummary">
					<xsd:simpleType>
						<xsd:restriction base = "xsd:string">
							<xsd:enumeration value = "Success"/>
							<xsd:enumeration value = "Failure"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name = "ResultDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "ReadResult" maxOccurs = "unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref = "a:ActivityReports"/>
										<xsd:element name = "FailureReason" minOccurs = "0" maxOccurs = "unbounded">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Missing data"/>
													<xsd:enumeration value = "Invalid data"/>
													<xsd:enumeration value = "No match"/>
													<xsd:enumeration value = "Multiple matches"/>
													<xsd:enumeration value = "Operation not supported"/>
													<xsd:enumeration value = "Unspecified failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureDescription" type = "xsd:string" minOccurs = "0"/>
										<xsd:element name = "FailureNode" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "updateActivityReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "a:ActivityReports"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "updateActivityReportResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "ResultSummary">
					<xsd:simpleType>
						<xsd:restriction base = "xsd:string">
							<xsd:enumeration value = "Success"/>
							<xsd:enumeration value = "Partial success"/>
							<xsd:enumeration value = "Failure"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name = "ResultDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "UpdateResult" maxOccurs = "unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name = "ActivityReport" type = "a:ActivityReportType" maxOccurs = "unbounded"/>
										<xsd:element name = "Result">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Success"/>
													<xsd:enumeration value = "Failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureReason" minOccurs = "0" maxOccurs = "unbounded">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Missing data"/>
													<xsd:enumeration value = "Invalid data"/>
													<xsd:enumeration value = "No match"/>
													<xsd:enumeration value = "Multiple matches"/>
													<xsd:enumeration value = "Operation not supported"/>
													<xsd:enumeration value = "Unspecified failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureDescription" type = "xsd:string" minOccurs = "0"/>
										<xsd:element name = "FailureNode" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "createActivityReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "a:ActivityReports"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "createActivityReportResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "ResultSummary">
					<xsd:simpleType>
						<xsd:restriction base = "xsd:string">
							<xsd:enumeration value = "Success"/>
							<xsd:enumeration value = "Partial success"/>
							<xsd:enumeration value = "Failure"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name = "ResultDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "CreateResult" maxOccurs = "unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name = "ActivityReport" type = "a:ActivityReportType"/>
										<xsd:element name = "Result">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Success"/>
													<xsd:enumeration value = "Failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureReason" minOccurs = "0" maxOccurs = "unbounded">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Missing data"/>
													<xsd:enumeration value = "Invalid data"/>
													<xsd:enumeration value = "Report already exists"/>
													<xsd:enumeration value = "No match"/>
													<xsd:enumeration value = "Multiple matches"/>
													<xsd:enumeration value = "Operation not supported"/>
													<xsd:enumeration value = "Unspecified failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureDescription" type = "xsd:string" minOccurs = "0"/>
										<xsd:element name = "FailureNode" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "deleteActivityReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "a:ActivityReports"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "deleteActivityReportResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "ResultSummary">
					<xsd:simpleType>
						<xsd:restriction base = "xsd:string">
							<xsd:enumeration value = "Success"/>
							<xsd:enumeration value = "Partial success"/>
							<xsd:enumeration value = "Failure"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name = "ResultDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "DeleteResult" maxOccurs = "unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name = "ActivityReport" type = "a:ActivityReportType" maxOccurs = "unbounded"/>
										<xsd:element name = "Result">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Success"/>
													<xsd:enumeration value = "Failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureReason" minOccurs = "0" maxOccurs = "unbounded">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Missing data"/>
													<xsd:enumeration value = "Invalid data"/>
													<xsd:enumeration value = "No match"/>
													<xsd:enumeration value = "Multiple matches"/>
													<xsd:enumeration value = "Operation not supported"/>
													<xsd:enumeration value = "Unspecified failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureDescription" type = "xsd:string" minOccurs = "0"/>
										<xsd:element name = "FailureNode" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>