surveyitems/v1/surveyitems.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://ns.medbiq.org/surveyitem/v1/"
	 targetNamespace = "http://ns.medbiq.org/surveyitem/v1/"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!--Modified 18 August 2008-->
	
	<xsd:complexType name = "SurveyItemType">
		<xsd:sequence>
			<xsd:element name = "SurveyQuestion" type = "NonNullString"/>
			<xsd:element name = "Responses" type = "ResponsesType"/>
		</xsd:sequence>
		<xsd:attribute name = "source" type = "xsd:string"/>
		<xsd:attribute name = "id" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "ResponsesType">
		<xsd:choice>
			<xsd:element name = "YesNo" type = "YesNoType"/>
			<xsd:element name = "Scale" type = "ScaleType"/>
			<xsd:element name = "MultipleChoiceSelectOne" type = "MultipleChoiceType"/>
			<xsd:element name = "MultipleChoiceSelectMany" type = "MultipleChoiceType"/>
			<xsd:element name = "FreeText">
				<xsd:complexType/>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name = "YesNoType">
		<xsd:sequence>
			<xsd:element name = "Yes" type = "Source_id"/>
			<xsd:element name = "No" type = "Source_id"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "Source_id">
		<xsd:attribute name = "source" type = "xsd:string"/>
		<xsd:attribute name = "id" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "ScaleType">
		<xsd:sequence>
			<xsd:element name = "One" type = "ScaleItem"/>
			<xsd:element name = "Two" type = "ScaleItem"/>
			<xsd:element name = "Three" type = "ScaleItem"/>
			<xsd:element name = "Four" type = "ScaleItem" minOccurs = "0"/>
			<xsd:element name = "Five" type = "ScaleItem" minOccurs = "0"/>
			<xsd:element name = "Six" type = "ScaleItem" minOccurs = "0"/>
			<xsd:element name = "Seven" type = "ScaleItem" minOccurs = "0"/>
			<xsd:element name = "Eight" type = "ScaleItem" minOccurs = "0"/>
			<xsd:element name = "Nine" type = "ScaleItem" minOccurs = "0"/>
			<xsd:element name = "Ten" type = "ScaleItem" minOccurs = "0"/>
		</xsd:sequence>
		<xsd:attribute name = "type" type = "xsd:string"/>
		<xsd:attribute name = "points" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "ScaleItem">
		<xsd:attribute name = "label" type = "xsd:string"/>
		<xsd:attribute name = "source" type = "xsd:string"/>
		<xsd:attribute name = "id" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "MultipleChoiceType">
		<xsd:sequence>
			<xsd:element name = "ResponseItem" type = "Text_source_id" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "SurveyItems">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "SurveyItem" type = "SurveyItemType" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element name = "Comparison" type = "ComparisonType" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "SurveyItemForComparisonType">
		<xsd:complexContent>
			<xsd:extension base = "SurveyItemType">
				<xsd:sequence>
					<xsd:element name = "IntendedTiming" type = "IntendedTimingType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name = "BeforeDuringAfterType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "Before"/>
			<xsd:enumeration value = "During"/>
			<xsd:enumeration value = "After"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "NonNullString">
		<xsd:restriction base = "xsd:string">
			<xsd:minLength value = "1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name = "IntendedTimingType">
		<xsd:simpleContent>
			<xsd:extension base = "BeforeDuringAfterType">
				<xsd:attribute name = "duration" type = "xsd:duration"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name = "ComparisonType">
		<xsd:sequence>
			<xsd:element name = "SurveyItemForComparison" type = "SurveyItemForComparisonType" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "Text_source_id">
		<xsd:simpleContent>
			<xsd:extension base = "xsd:string">
				<xsd:attribute name = "source" type = "xsd:string"/>
				<xsd:attribute name = "id" type = "xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>