shortordercook/competencyframework.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Valerie Smothers (Johns Hopkins) -->
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://ns.medbiq.org/competencyframework/v1/" xmlns:lom="http://ltsc.ieee.org/xsd/LOM" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ns.medbiq.org/competencyframework/v1/" elementFormDefault="qualified">
	<xsd:import namespace="http://ltsc.ieee.org/xsd/LOM" schemaLocation="http://ns.medbiq.org/lom/healthcarelom.xsd"/>
	<xsd:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd"/>
	<!-- Copyright © 2011 MedBiquitous Consortium. All Rights Reserved. http://www.medbiq.org -->
	<!-- Users are bound by the terms of the MedBiquitous Consortium XML Public License and Terms of Use -->
	<!-- Modified 9 December 2011 -->
	<xsd:simpleType name="NonNullString">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RelationshipType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="http://www.w3.org/2004/02/skos/core#broader"/>
			<xsd:enumeration value="http://www.w3.org/2004/02/skos/core#narrower"/>
			<xsd:enumeration value="http://www.w3.org/2004/02/skos/core#related"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="IdentifierType">
		<xsd:sequence>
			<xsd:element name="Catalog" type="NonNullString"/>
			<xsd:element name="Entry" type="NonNullString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RelationType">
		<xsd:sequence>
			<xsd:element name="Reference1" type="IdentifierType"/>
			<xsd:element name="Relationship" type="RelationshipType"/>
			<xsd:element name="Reference2" type="IdentifierType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SupportingInformationType">
		<xsd:choice>
			<xsd:element name="Link" type="xsd:anyURI"/>
			<xsd:element ref="xhtml:div"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="CompetencyFrameworkType">
		<xsd:sequence>
			<xsd:element ref="lom:lom"/>
			<xsd:element name="EffectiveDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="RetiredDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Replaces" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IsReplacedBy" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SupportingInformation" type="SupportingInformationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Includes" type="IdentifierType" maxOccurs="unbounded"/>
			<xsd:element name="Relation" type="RelationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CompetencyFramework" type="CompetencyFrameworkType"/>
</xsd:schema>
