lomv2/healthcare/healthcaremetadata_2013_06_20.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://ns.medbiq.org/lom/extend/v1/" xmlns:lom="http://ltsc.ieee.org/xsd/LOM" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:a="http://ns.medbiq.org/address/v1/" xmlns:dcterms="http://purl.org/dc/terms/" targetNamespace="http://ns.medbiq.org/lom/extend/v1/" elementFormDefault="qualified">
	<xsd:import namespace="http://ltsc.ieee.org/xsd/LOM" schemaLocation="../healthcarelom.xsd"/>
	<xsd:import namespace="http://ns.medbiq.org/address/v1/" schemaLocation="http://ns.medbiq.org/address/v1/address.xsd"/>
	<xsd:import namespace="http://purl.org/dc/terms/" schemaLocation="http://www.dublincore.org/schemas/xmls/qdc/dcterms.xsd"/>
	<!--Copyright 2009, MedBiquitous. All rights reserved. http://www.medbiq.org-->
	<!--Modified June 20, 2013-->
	<!--23 Sep 2009, corrected nonAccreditedProvider multiplicity in schema-->
	<!--13 June 2011, added unique element to healthcareEducation element. Added unique attributes to healthcareEducation, healthcareAsset, targetAudience, activityLocation element to ensure that they occur once only.-->
	<!--20 June 2013, changed specialty to disciplineOrSpecialty, added source and id attributes to profession, added repurposing elements, added citation-->
	<xsd:attributeGroup name="customAttributes">
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="keywordAttributeExtensions">
		<xsd:attribute name="source" type="lom:CharacterString"/>
		<xsd:attribute name="id" type="lom:CharacterString"/>
	</xsd:attributeGroup>
	<xsd:group name="customElements">
		<xsd:sequence>
			<xsd:element ref="customElements"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="healthcareMetadata">
		<xsd:sequence>
			<xsd:element ref="healthcareMetadata" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="healthcareAsset">
		<xsd:sequence>
			<xsd:element ref="healthcareAsset" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="healthcareEducation">
		<xsd:sequence>
			<xsd:element ref="healthcareEducation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="contact">
		<xsd:sequence>
			<xsd:element ref="contact" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="audienceCategory">
		<xsd:sequence>
			<xsd:element ref="audienceCategory" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="profession">
		<xsd:sequence>
			<xsd:element ref="profession" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="disciplineOrSpecialty">
		<xsd:sequence>
			<xsd:element ref="disciplineOrSpecialty" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="readingLevel">
		<xsd:sequence>
			<xsd:element ref="readingLevel" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="targetAudience">
		<xsd:sequence>
			<xsd:element ref="targetAudience" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="activityLocation">
		<xsd:sequence>
			<xsd:element ref="activityLocation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="room">
		<xsd:sequence>
			<xsd:element ref="room" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="building">
		<xsd:sequence>
			<xsd:element ref="building" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="startDateTime">
		<xsd:sequence>
			<xsd:element ref="startDateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="endDateTime">
		<xsd:sequence>
			<xsd:element ref="endDateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="activitySponsorship">
		<xsd:sequence>
			<xsd:element ref="activitySponsorship" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="participationModality">
		<xsd:sequence>
			<xsd:element ref="participationModality" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="activityDelivery">
		<xsd:sequence>
			<xsd:element ref="activityDelivery" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="activityFormat">
		<xsd:sequence>
			<xsd:element ref="activityFormat" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="offLabelUse">
		<xsd:sequence>
			<xsd:element ref="offLabelUse" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="offLabelDescription">
		<xsd:sequence>
			<xsd:element ref="offLabelDescription" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="commercialSupport">
		<xsd:sequence>
			<xsd:element ref="commercialSupport" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="commercialSupportAcknowledgement">
		<xsd:sequence>
			<xsd:element ref="commercialSupportAcknowledgement" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="relevantFinancialRelationship">
		<xsd:sequence>
			<xsd:element ref="relevantFinancialRelationship" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="relevantFinancialRelationshipDisclosure">
		<xsd:sequence>
			<xsd:element ref="relevantFinancialRelationshipDisclosure" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="creditsAvailable">
		<xsd:sequence>
			<xsd:element ref="creditsAvailable" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="credits">
		<xsd:sequence>
			<xsd:element ref="credits" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="accreditingBody">
		<xsd:sequence>
			<xsd:element ref="accreditingBody" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="activityCertification">
		<xsd:sequence>
			<xsd:element ref="activityCertification" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="creditType">
		<xsd:sequence>
			<xsd:element ref="creditType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="creditUnit">
		<xsd:sequence>
			<xsd:element ref="creditUnit" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="pacing">
		<xsd:sequence>
			<xsd:element ref="pacing" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="accreditedProvider">
		<xsd:sequence>
			<xsd:element ref="accreditedProvider" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="nonAccreditedProvider">
		<xsd:sequence>
			<xsd:element ref="nonAccreditedProvider" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="numberOfCredits">
		<xsd:sequence>
			<xsd:element ref="numberOfCredits" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="releaseDate">
		<xsd:sequence>
			<xsd:element ref="releaseDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="expirationDate">
		<xsd:sequence>
			<xsd:element ref="expirationDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="annotated">
		<xsd:sequence>
			<xsd:element ref="annotated" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="clinicalHistory">
		<xsd:sequence>
			<xsd:element ref="clinicalHistory" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="magnification">
		<xsd:sequence>
			<xsd:element ref="magnification" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="orientation">
		<xsd:sequence>
			<xsd:element ref="orientation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="medicalImageType">
		<xsd:sequence>
			<xsd:element ref="medicalImageType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="specimenType">
		<xsd:sequence>
			<xsd:element ref="specimenType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="fileHeight">
		<xsd:sequence>
			<xsd:element ref="fileHeight" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="fileWidth">
		<xsd:sequence>
			<xsd:element ref="fileWidth" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="license">
		<xsd:sequence>
			<xsd:element ref="dcterms:license" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="isRepurposedFrom">
		<xsd:sequence>
			<xsd:element ref="isRepurposedFrom" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!--Currently the repurposing elements are not referenced from the healthcare metadata as it may be better to put them in the relation container. i think this would provide the definitions for doing so.-->
	<xsd:group name="repurposingContext">
		<xsd:sequence>
			<xsd:element ref="repurposingContext" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="repurposingDescription">
		<xsd:sequence>
			<xsd:element ref="repurposingDescription" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="bibliographicCitation">
		<xsd:sequence>
			<xsd:element ref="dcterms:bibliographicCitation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!--I'm not sure of the distinction between bibliographic citation and citation. Does this fit the bill?-->
	<xsd:element name="customElements">
		<xsd:complexType>
			<xsd:choice>
				<xsd:any namespace="##other" processContents="lax"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="healthcareMetadata" type="healthcareMetadataType">
		<xsd:unique name="healthcareMetadataUnique">
			<xsd:selector xpath="*"/>
			<xsd:field xpath="@uniqueElementName"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="healthcareEducation" type="healthcareEducationType">
		<xsd:unique name="healthcareEducationUnique">
			<xsd:selector xpath="*"/>
			<xsd:field xpath="@uniqueElementName"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="healthcareAsset" type="healthcareAssetType"/>
	<xsd:element name="activityLocation" type="activityLocationType"/>
	<xsd:element name="room" type="lom:CharacterString"/>
	<xsd:element name="building" type="lom:CharacterString"/>
	<xsd:element name="activitySponsorship" type="activitySponsorshipType"/>
	<xsd:element name="participationModality" type="participationModalityType"/>
	<xsd:element name="activityDelivery" type="activityDeliveryType"/>
	<xsd:element name="activityFormat" type="lom:LanguageString"/>
	<xsd:element name="offLabelUse" type="yesNoType"/>
	<xsd:element name="offLabelDescription" type="lom:LanguageString"/>
	<xsd:element name="commercialSupport" type="yesNoType"/>
	<xsd:element name="commercialSupportAcknowledgement" type="lom:LanguageString"/>
	<xsd:element name="relevantFinancialRelationship" type="yesNoType"/>
	<xsd:element name="relevantFinancialRelationshipDisclosure" type="lom:LanguageString"/>
	<xsd:element name="creditsAvailable" type="yesNoType"/>
	<xsd:element name="credits" type="creditsType"/>
	<xsd:element name="accreditingBody" type="lom:CharacterString"/>
	<xsd:element name="activityCertification" type="lom:CharacterString"/>
	<xsd:element name="creditType" type="creditTypeType"/>
	<xsd:element name="creditUnit" type="creditUnitType"/>
	<xsd:element name="pacing" type="pacingType"/>
	<xsd:element name="accreditedProvider" type="lom:CharacterString"/>
	<xsd:element name="nonAccreditedProvider" type="lom:CharacterString"/>
	<xsd:element name="numberOfCredits" type="xsd:decimal"/>
	<xsd:element name="releaseDate" type="xsd:date"/>
	<xsd:element name="expirationDate" type="xsd:date"/>
	<xsd:element name="startDateTime" type="xsd:dateTime"/>
	<xsd:element name="endDateTime" type="xsd:dateTime"/>
	<xsd:element name="contact" type="lom:CharacterString"/>
	<xsd:element name="targetAudience" type="targetAudienceType"/>
	<xsd:element name="disciplineOrSpecialty" type="lom:LanguageString"/>
	<xsd:element name="profession" type="vocabularyTermType"/>
	<xsd:element name="readingLevel" type="lom:LanguageString"/>
	<xsd:element name="annotated" type="yesNoType"/>
	<xsd:element name="clinicalHistory" type="lom:LanguageString"/>
	<xsd:element name="magnification" type="xsd:integer"/>
	<xsd:element name="orientation" type="orientationType"/>
	<xsd:element name="medicalImageType" type="medicalImageTypeType"/>
	<xsd:element name="specimenType" type="specimenTypeType"/>
	<xsd:element name="fileHeight" type="xsd:integer"/>
	<xsd:element name="fileWidth" type="xsd:integer"/>
	<xsd:element name="audienceCategory" type="audienceCategoryType"/>
	<xsd:element name="isRepurposedFrom" type="xsd:anyURI"/>
	<xsd:element name="repurposingContext" type="repurposingContextType"/>
	<xsd:element name="repurposingDescription" type="lom:LanguageString"/>
	<xsd:simpleType name="creditTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CME"/>
			<xsd:enumeration value="CE"/>
			<xsd:enumeration value="CNE"/>
			<xsd:enumeration value="CPE"/>
			<xsd:enumeration value="CHES"/>
			<xsd:enumeration value="CPD"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="yesNoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="creditUnitType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CECH"/>
			<xsd:enumeration value="CEH"/>
			<xsd:enumeration value="CEU"/>
			<xsd:enumeration value="Cognate"/>
			<xsd:enumeration value="Contact Hour"/>
			<xsd:enumeration value="Credit"/>
			<xsd:enumeration value="Hour"/>
			<xsd:enumeration value="Unit"/>
			<xsd:enumeration value="Credit Hour"/>
			<xsd:enumeration value="Point"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="pacingType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="learner paced"/>
			<xsd:enumeration value="provider paced"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="activitySponsorshipType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="direct"/>
			<xsd:enumeration value="joint"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="participationModalityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="conference/workshop"/>
			<xsd:enumeration value="technology based"/>
			<xsd:enumeration value="on the job"/>
			<xsd:enumeration value="print"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="activityDeliveryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="live"/>
			<xsd:enumeration value="not live"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="orientationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="axial"/>
			<xsd:enumeration value="coronal"/>
			<xsd:enumeration value="horizontal"/>
			<xsd:enumeration value="longitudinal"/>
			<xsd:enumeration value="sagittal"/>
			<xsd:enumeration value="transverse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="medicalImageTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="angiogram"/>
			<xsd:enumeration value="computed axial tomography scan"/>
			<xsd:enumeration value="electrocardiogram"/>
			<xsd:enumeration value="endoscopic image"/>
			<xsd:enumeration value="magnetic resonance image"/>
			<xsd:enumeration value="mammogram"/>
			<xsd:enumeration value="micrograph"/>
			<xsd:enumeration value="nuclear medicine scan"/>
			<xsd:enumeration value="photograph"/>
			<xsd:enumeration value="radiograph"/>
			<xsd:enumeration value="ultrasound"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="specimenTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="cell"/>
			<xsd:enumeration value="organ"/>
			<xsd:enumeration value="organ system"/>
			<xsd:enumeration value="organelle"/>
			<xsd:enumeration value="tissue"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="audienceCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="general"/>
			<xsd:enumeration value="patient"/>
			<xsd:enumeration value="caregiver"/>
			<xsd:enumeration value="professional"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="repurposingContextType">
		<!--Does educational level term need to be modified/harmonized??????? is educational context more appropriate?-->
		<xsd:restriction base="xsd:anyURI">
			<xsd:enumeration value="http://purl.org/meducator/repurposing#Different-Languages"/>
			<xsd:enumeration value="http://purl.org/meducator/repurposing#Different-Cultures"/>
			<xsd:enumeration value="http://purl.org/meducator/repurposing#Different-Pedagogy"/>
			<xsd:enumeration value="http://purl.org/meducator/repurposing#Different-Educational-Level"/>
			<xsd:enumeration value="http://purl.org/meducator/repurposing#Different-Disciplines"/>
			<xsd:enumeration value="http://purl.org/meducator/repurposing#Different-Content-Types"/>
			<xsd:enumeration value="http://purl.org/meducator/repurposing#Different-Technology"/>
			<xsd:enumeration value="http://purl.org/meducator/repurposing#Changes-to-Content"/>
			<xsd:enumeration value="http://purl.org/meducator/repurposing#Different-Technology"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<xsd:complexType name="activityLocationType">
		<xsd:complexContent>
			<xsd:extension base="a:AddressType">
				<xsd:sequence>
					<xsd:group ref="room"/>
					<xsd:group ref="building"/>
				</xsd:sequence>
				<xsd:attribute name="uniqueElementName" type="xsd:string" fixed="activityLocation"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="creditsType">
		<xsd:sequence>
			<xsd:group ref="accreditingBody"/>
			<xsd:group ref="activityCertification"/>
			<xsd:group ref="creditType"/>
			<xsd:group ref="creditUnit"/>
			<xsd:group ref="pacing"/>
			<xsd:group ref="accreditedProvider"/>
			<xsd:group ref="nonAccreditedProvider"/>
			<xsd:group ref="releaseDate"/>
			<xsd:group ref="expirationDate"/>
			<xsd:group ref="numberOfCredits"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="vocabularyTermType">
		<xsd:complexContent>
			<xsd:extension base="lom:LanguageString">
				<xsd:attributeGroup ref="keywordAttributeExtensions"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="targetAudienceType">
		<xsd:sequence>
			<xsd:group ref="audienceCategory"/>
			<xsd:group ref="profession"/>
			<xsd:group ref="disciplineOrSpecialty"/>
			<xsd:group ref="readingLevel"/>
		</xsd:sequence>
		<xsd:attribute name="uniqueElementName" type="xsd:string" fixed="targetAudience"/>
	</xsd:complexType>
	<xsd:complexType name="healthcareEducationType">
		<xsd:sequence>
			<xsd:group ref="expirationDate"/>
			<xsd:group ref="creditsAvailable"/>
			<xsd:group ref="credits"/>
			<xsd:group ref="targetAudience"/>
			<xsd:group ref="activityLocation"/>
			<xsd:group ref="startDateTime"/>
			<xsd:group ref="endDateTime"/>
			<xsd:group ref="activitySponsorship"/>
			<xsd:group ref="participationModality"/>
			<xsd:group ref="activityDelivery"/>
			<xsd:group ref="activityFormat"/>
			<xsd:group ref="offLabelUse"/>
			<xsd:group ref="offLabelDescription"/>
			<xsd:group ref="commercialSupport"/>
			<xsd:group ref="commercialSupportAcknowledgement"/>
			<xsd:group ref="relevantFinancialRelationship"/>
			<xsd:group ref="relevantFinancialRelationshipDisclosure"/>
			<xsd:group ref="contact"/>
			<xsd:group ref="license"/>
			<xsd:group ref="bibliographicCitation"/>
		</xsd:sequence>
		<xsd:attribute name="uniqueElementName" type="xsd:string" fixed="healthcareEducation"/>
	</xsd:complexType>
	<xsd:complexType name="healthcareMetadataType">
		<xsd:sequence>
			<xsd:group ref="healthcareEducation"/>
			<xsd:group ref="healthcareAsset"/>
		</xsd:sequence>
		<xsd:attribute name="uniqueElementName" type="xsd:string" fixed="healthcareMetadata"/>
	</xsd:complexType>
	<xsd:complexType name="healthcareAssetType">
		<xsd:sequence>
			<xsd:group ref="annotated"/>
			<xsd:group ref="clinicalHistory"/>
			<xsd:group ref="magnification"/>
			<xsd:group ref="orientation"/>
			<xsd:group ref="medicalImageType"/>
			<xsd:group ref="specimenType"/>
			<xsd:group ref="fileHeight"/>
			<xsd:group ref="fileWidth"/>
			<xsd:group ref="license"/>
			<xsd:group ref="bibliographicCitation"/>
		</xsd:sequence>
		<xsd:attribute name="uniqueElementName" type="xsd:string" fixed="healthcareAsset"/>
	</xsd:complexType>
</xsd:schema>
