member/service/v1/membertypes.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://ns.medbiq.org/member/service/v1/"
	 targetNamespace = "http://ns.medbiq.org/member/service/v1/"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:m = "http://ns.medbiq.org/member/v1/">
	<xsd:import namespace = "http://ns.medbiq.org/member/v1/" schemaLocation = "http://ns.medbiq.org/member/v1/member.xsd"/>
	<!--Revision date August 13, 2007-->
	
	<xsd:element name = "readMember">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "m:Members"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "readMemberResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "ResultSummary">
					<xsd:simpleType>
						<xsd:restriction base = "xsd:string">
							<xsd:enumeration value = "Success"/>
							<xsd:enumeration value = "Partial success"/>
							<xsd:enumeration value = "Failure"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name = "ResultDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "ReadResult" maxOccurs = "unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name = "MatchScore" type = "xsd:string" minOccurs = "0"/>
										<xsd:element name = "Member" type = "m:MemberType"/>
										<xsd:element name = "Result">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Success"/>
													<xsd:enumeration value = "Failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureReason" minOccurs = "0" maxOccurs = "unbounded">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Missing data"/>
													<xsd:enumeration value = "Invalid data"/>
													<xsd:enumeration value = "No member match"/>
													<xsd:enumeration value = "Multiple member matches"/>
													<xsd:enumeration value = "Operation not supported"/>
													<xsd:enumeration value = "Unspecified failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureDescription" type = "xsd:string" minOccurs = "0"/>
										<xsd:element name = "FailureNode" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "updateMember">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "m:Members"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "updateMemberResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "ResultSummary">
					<xsd:simpleType>
						<xsd:restriction base = "xsd:string">
							<xsd:enumeration value = "Success"/>
							<xsd:enumeration value = "Partial success"/>
							<xsd:enumeration value = "Failure"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name = "ResultDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "UpdateResult" maxOccurs = "unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name = "UniqueID" type = "m:UniqueIDType" maxOccurs = "unbounded"/>
										<xsd:element name = "Result">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Success"/>
													<xsd:enumeration value = "Failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureReason" minOccurs = "0" maxOccurs = "unbounded">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Missing data"/>
													<xsd:enumeration value = "Invalid data"/>
													<xsd:enumeration value = "No member match"/>
													<xsd:enumeration value = "Multiple member matches"/>
													<xsd:enumeration value = "Operation not supported"/>
													<xsd:enumeration value = "Unspecified failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureDescription" type = "xsd:string" minOccurs = "0"/>
										<xsd:element name = "FailureNode" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "createMember">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "m:Members"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "createMemberResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "ResultSummary">
					<xsd:simpleType>
						<xsd:restriction base = "xsd:string">
							<xsd:enumeration value = "Success"/>
							<xsd:enumeration value = "Partial success"/>
							<xsd:enumeration value = "Failure"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name = "ResultDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "CreateResult" maxOccurs = "unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name = "Member" type = "m:MemberType"/>
										<xsd:element name = "Result">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Success"/>
													<xsd:enumeration value = "Failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureReason" minOccurs = "0" maxOccurs = "unbounded">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Missing data"/>
													<xsd:enumeration value = "Invalid data"/>
													<xsd:enumeration value = "Member already exists"/>
													<xsd:enumeration value = "Operation not supported"/>
													<xsd:enumeration value = "Unspecified failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureDescription" type = "xsd:string" minOccurs = "0"/>
										<xsd:element name = "FailureNode" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "deleteMember">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "m:Members"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "deleteMemberResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "ResultSummary">
					<xsd:simpleType>
						<xsd:restriction base = "xsd:string">
							<xsd:enumeration value = "Success"/>
							<xsd:enumeration value = "Partial success"/>
							<xsd:enumeration value = "Failure"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name = "ResultDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "DeleteResult" maxOccurs = "unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name = "UniqueID" type = "m:UniqueIDType" maxOccurs = "unbounded"/>
										<xsd:element name = "Result">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Success"/>
													<xsd:enumeration value = "Failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureReason" minOccurs = "0" maxOccurs = "unbounded">
											<xsd:simpleType>
												<xsd:restriction base = "xsd:string">
													<xsd:enumeration value = "Missing data"/>
													<xsd:enumeration value = "Invalid data"/>
													<xsd:enumeration value = "No member match"/>
													<xsd:enumeration value = "Multiple member matches"/>
													<xsd:enumeration value = "Operation not supported"/>
													<xsd:enumeration value = "Unspecified failure"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name = "FailureDescription" type = "xsd:string" minOccurs = "0"/>
										<xsd:element name = "FailureNode" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>