activityreport/service/v2/activityreporttypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Valerie Smothers (Johns Hopkins) -->
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<!--Revision date May 14, 2012-->
<xsd:schema xmlns="http://ns.medbiq.org/activityreport/service/v2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:a="http://ns.medbiq.org/activityreport/v2/" targetNamespace="http://ns.medbiq.org/activityreport/service/v2/">
	<xsd:import namespace="http://ns.medbiq.org/activityreport/v2/" schemaLocation="http://ns.medbiq.org/activityreport/v2/activityreport.xsd"/>
	<xsd:simpleType name="SuccessPartialSuccessFailureType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Success"/>
			<xsd:enumeration value="Partial success"/>
			<xsd:enumeration value="Failure"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SuccessFailureType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Success"/>
			<xsd:enumeration value="Failure"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FailureReasonType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Missing data"/>
			<xsd:enumeration value="Invalid data"/>
			<xsd:enumeration value="No match"/>
			<xsd:enumeration value="Multiple matches"/>
			<xsd:enumeration value="Operation not supported"/>
			<xsd:enumeration value="Unspecified failure"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CreateFailureReasonType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Missing data"/>
			<xsd:enumeration value="Invalid data"/>
			<xsd:enumeration value="No match"/>
			<xsd:enumeration value="Multiple matches"/>
			<xsd:enumeration value="Operation not supported"/>
			<xsd:enumeration value="Unspecified failure"/>
			<xsd:enumeration value="Report already exists"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="FailureInstanceType">
		<xsd:sequence>
			<xsd:element name="FailureReason" type="FailureReasonType" minOccurs="1"/>
			<xsd:element name="FailureDescription" type="xsd:string" minOccurs="1"/>
			<xsd:element name="FailureNode" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateFailureInstanceType">
		<xsd:sequence>
			<xsd:element name="CreateFailureReason" type="CreateFailureReasonType" minOccurs="1"/>
			<xsd:element name="FailureDescription" type="xsd:string" minOccurs="1"/>
			<xsd:element name="FailureNode" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OperationResultType">
		<xsd:sequence>
			<xsd:element name="ActivityReport" type="a:ActivityReportType" maxOccurs="unbounded"/>
			<xsd:element name="Result" type="SuccessFailureType"/>
			<xsd:element name="FailureInstance" type="FailureInstanceType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateResultType">
		<xsd:sequence>
			<xsd:element name="ActivityReport" type="a:ActivityReportType" maxOccurs="unbounded"/>
			<xsd:element name="Result" type="SuccessFailureType"/>
			<xsd:element name="CreateFailureInstance" type="CreateFailureInstanceType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="readActivityReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="a:ActivityReports"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="readActivityReportResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ResultSummary" type="SuccessFailureType"/>
				<xsd:element name="ResultDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReadResult" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="a:ActivityReports"/>
										<xsd:element name="FailureInstance" type="FailureInstanceType" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="updateActivityReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="a:ActivityReports"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="updateActivityReportResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ResultSummary" type="SuccessPartialSuccessFailureType"/>
				<xsd:element name="ResultDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="UpdateResult" type="OperationResultType" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="createActivityReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="a:ActivityReports"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="createActivityReportResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ResultSummary" type="SuccessPartialSuccessFailureType"/>
				<xsd:element name="ResultDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CreateResult" type="CreateResultType" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="deleteActivityReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="a:ActivityReports"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="deleteActivityReportResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ResultSummary" type="SuccessPartialSuccessFailureType"/>
				<xsd:element name="ResultDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DeleteResult" type="OperationResultType" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
