activityreport/v2/activityreport_2018_11_29.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Jody Poet (Johns Hopkins University) -->
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<!--new - adding mbq prefix-->
<xsd:schema xmlns="http://ns.medbiq.org/activityreport/v2/" xmlns:mbq="http://ns.medbiq.org/common/v2/" xmlns:lom="http://ltsc.ieee.org/xsd/LOM" xmlns:hx="http://ns.medbiq.org/lom/extend/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:m="http://ns.medbiq.org/member/v2/" targetNamespace="http://ns.medbiq.org/activityreport/v2/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://ltsc.ieee.org/xsd/LOM" schemaLocation="http://ns.medbiq.org/lom/healthcarelom.xsd"/>
	<xsd:import namespace="http://ns.medbiq.org/lom/extend/v1/" schemaLocation="http://ns.medbiq.org/lom/healthcare/healthcaremetadata.xsd"/>
	<xsd:import namespace="http://ns.medbiq.org/member/v2/" schemaLocation="http://ns.medbiq.org/member/v2/member.xsd"/>
	<xsd:import namespace="http://ns.medbiq.org/common/v2/" schemaLocation="http://ns.medbiq.org/common/v2/common.xsd"/>
	<!--new - address and common-->
	<!--Copyright © 2018 MedBiquitous Consortium. All Rights Reserved. http://www.medbiq.org-->
	<!--Users are bound by the terms of the MedBiquitous Consortium XML Public License and Terms of Use-->
	<!--Modified 29 November 2018-->
	<!--new-->
	<xsd:simpleType name="ClassificationRelationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Assessment Addresses"/>
			<xsd:enumeration value="Instruction Addresses"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DEARegsitrationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Individual"/>
			<xsd:enumeration value="Institutional"/>
			<xsd:enumeration value="None"/>
		</xsd:restriction>
		<!--end new-->
	</xsd:simpleType>
	<xsd:simpleType name="IDDomainType">
		<xsd:restriction base="xsd:anyURI">
			<xsd:pattern value="idd:\S*:\S*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PracticeAreaType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Addiction"/>
			<xsd:enumeration value="Anesthesiology"/>
			<xsd:enumeration value="Critical Care"/>
			<xsd:enumeration value="Dentistry"/>
			<xsd:enumeration value="Emergency"/>
			<xsd:enumeration value="Family Medicine"/>
			<xsd:enumeration value="Geriatric"/>
			<xsd:enumeration value="Hematology"/>
			<xsd:enumeration value="Hospice and/or Palliative Care"/>
			<xsd:enumeration value="Internal Medicine"/>
			<xsd:enumeration value="Neurology"/>
			<xsd:enumeration value="Obstetrics/Gynecology"/>
			<xsd:enumeration value="Oncology"/>
			<xsd:enumeration value="Ophthalmology"/>
			<xsd:enumeration value="Pain"/>
			<xsd:enumeration value="Pediatric"/>
			<xsd:enumeration value="Physical Medicine and Rehabilitation"/>
			<xsd:enumeration value="Psychiatry"/>
			<xsd:enumeration value="General Surgery"/>
			<xsd:enumeration value="Orthopedic surgery"/>
			<xsd:enumeration value="Other surgical specialty"/>
			<xsd:enumeration value="Urology"/>
			<xsd:enumeration value="Other"/>
			<xsd:enumeration value="N/A"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="REMSProfessionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Physician"/>
			<xsd:enumeration value="Advanced practice nurse"/>
			<xsd:enumeration value="Physician Assistant"/>
			<xsd:enumeration value="Dentist"/>
			<xsd:enumeration value="Podiatrist"/>
			<xsd:enumeration value="Nurse"/>
			<xsd:enumeration value="Pharmacist"/>
			<xsd:enumeration value="Optometrist"/>
			<xsd:enumeration value="Psychologist"/>
			<xsd:enumeration value="Veterinarian"/>
			<xsd:enumeration value="Other healthcare professional"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Registered"/>
			<xsd:enumeration value="Completed"/>
			<xsd:enumeration value="Expired"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TimeInPracticeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Trainee"/>
			<xsd:enumeration value="0-5 years post training"/>
			<xsd:enumeration value="6-10 years"/>
			<xsd:enumeration value="11-15 years"/>
			<xsd:enumeration value="16-20 years"/>
			<xsd:enumeration value="21+ years"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--end new-->
	<xsd:complexType name="ModuleNameType">
		<xsd:simpleContent>
			<xsd:extension base="mbq:NonNullStringType">
				<xsd:attribute name="moduleID" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ModuleType">
		<xsd:sequence>
			<xsd:element name="ModuleName" type="ModuleNameType"/>
			<xsd:element name="Metadata" type="MetadataType" minOccurs="0"/>
			<xsd:element name="Status" type="StatusType" minOccurs="0"/>
			<xsd:element name="StartDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="EndDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="DueDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="RegisteredDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="CompletedDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="ExpiredDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="TimeEngaged" type="xsd:duration" minOccurs="0"/>
			<xsd:element name="Results" type="mbq:NonNullStringType" minOccurs="0"/>
			<xsd:element name="CreditCertificate" type="CreditCertificateType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResourceUsedType">
		<xsd:sequence>
			<xsd:element name="Title" type="mbq:NonNullStringType"/>
			<xsd:element name="Collection" type="mbq:NonNullStringType" minOccurs="0"/>
			<xsd:element name="CollectionID" type="CollectionIDType" minOccurs="0"/>
			<xsd:element name="ResourceLocation" type="xsd:anyURI" minOccurs="0"/>
			<xsd:element name="Relevant" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CollectionIDType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PointOfCareLearningDataType">
		<xsd:sequence>
			<xsd:element name="ClinicalQuestionOrTopic" type="mbq:NonNullStringType"/>
			<xsd:element name="SearchParameters" type="mbq:NonNullStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ResourceUsed" type="ResourceUsedType" maxOccurs="unbounded"/>
			<xsd:element name="ApplicationToPractice" type="mbq:NonNullStringType"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="ActivityType">
		<xsd:sequence>
			<xsd:element name="ProviderOrganization" type="mbq:NonNullStringType"/>
			<xsd:element name="ActivityName" type="mbq:NonNullStringType"/>
			<xsd:element name="ActivityInstanceID" type="m:UniqueIDType" minOccurs="0"/>
			<xsd:element name="Status" type="StatusType" minOccurs="0"/>
			<xsd:element name="LaunchDetails" type="LaunchDetailsType" minOccurs="0"/>
			<xsd:element name="CommercialSupporter" type="mbq:NonNullStringType" minOccurs="0"/>
			<xsd:element name="RegulatoryInformation" type="RegulatoryInformationType" minOccurs="0"/>
			<xsd:element name="Module" type="ModuleType" maxOccurs="unbounded"/>
			<xsd:element name="PointOfCareLearningData" type="PointOfCareLearningDataType" minOccurs="0"/>
			<xsd:element name="Results" type="mbq:NonNullStringType" minOccurs="0"/>
			<xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="activityID" type="xsd:string"/>
		<!--new recommend removing this attribute and adding ActivityID element of type DomainID-->
	</xsd:complexType>
	<xsd:complexType name="ActivityReportType">
		<xsd:sequence>
			<xsd:element name="ReportingOrganization" type="mbq:NonNullStringType"/>
			<xsd:choice maxOccurs="2">
				<xsd:element name="Member" type="m:MemberType"/>
				<xsd:element name="Participants" type="ParticipantsType"/>
			</xsd:choice>
			<xsd:element name="Activity" type="ActivityType" maxOccurs="unbounded"/>
			<xsd:element name="XtensibleInfo" type="XtensibleInfoType" minOccurs="0"/>
			<xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="arid" type="xsd:anyURI"/>
	</xsd:complexType>
	<xsd:element name="ActivityReports">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DateTimeCreated" type="xsd:dateTime"/>
				<xsd:element name="ReportingStartDate" type="xsd:date"/>
				<xsd:element name="ReportingEndDate" type="xsd:date"/>
				<xsd:element name="ActivityReport" type="ActivityReportType" maxOccurs="unbounded"/>
				<xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="arid" type="xsd:anyURI"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CreditCertificateType">
		<xsd:sequence>
			<xsd:element name="CreditReceived" type="CreditReceivedType"/>
			<xsd:element name="CreditID" type="xsd:anyURI"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MetadataType">
		<xsd:choice>
			<xsd:element ref="lom:lom"/>
			<xsd:element name="location" type="mbq:NonNullStringType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="XtensibleInfoType">
		<xsd:sequence>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditReceivedType">
		<xsd:complexContent>
			<xsd:extension base="hx:creditsType">
				<xsd:sequence>
					<xsd:element name="CreditFocus" type="CreditFocusType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CreditFocusType">
		<xsd:sequence>
			<xsd:element name="Description" type="mbq:NonNullStringType"/>
			<xsd:element name="Code" type="mbq:NonNullStringType" minOccurs="0"/>
			<xsd:element name="NumberOfCredits" type="xsd:decimal"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LaunchDetailsType">
		<xsd:sequence>
			<xsd:element name="LaunchAction" type="mbq:NonNullStringType"/>
			<xsd:element name="ActivityLocation" type="xsd:anyURI"/>
			<xsd:element name="ReturnLocation" type="xsd:anyURI" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--new-->
	<xsd:complexType name="DomainID">
		<xsd:simpleContent>
			<xsd:extension base="mbq:NonNullStringType">
				<xsd:attribute name="domain" type="IDDomainType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--New-->
	<xsd:complexType name="ParticipantType">
		<xsd:sequence>
			<xsd:element name="LocalIdentifier" type="m:UniqueIDType"/>
			<xsd:element name="StateOfPrimaryPractice" type="mbq:NonNullStringType" minOccurs="0"/>
			<xsd:element name="DEARegistration" type="DEARegsitrationType" minOccurs="0"/>
			<xsd:element name="Profession" type="REMSProfessionType"/>
			<xsd:element name="PracticeArea" type="PracticeAreaType" minOccurs="0"/>
			<xsd:element name="SurgicalProcedures" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="TimeInPractice" type="TimeInPracticeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RegulatoryInformationType">
		<xsd:sequence>
			<xsd:element name="CompliantToRegulation" type="URIReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RelatedToRegulation" type="URIReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RegulatoryClassification" type="RegulatoryClassificationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="URIReferenceType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:anyURI">
				<xsd:attribute name="label"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="RegulatoryClassificationType">
		<xsd:sequence>
			<xsd:element name="ClassificationRelation" type="ClassificationRelationType"/>
			<xsd:element name="Regulation" type="URIReferenceType"/>
			<xsd:element name="ComponentID" type="mbq:NonNullStringType"/>
			<xsd:element name="ComponentTitle" type="mbq:NonNullStringType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ParticipantsType">
		<xsd:sequence>
			<xsd:element name="Participant" type="ParticipantType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
