member/v2/member_2013_02_14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Valerie Smothers (Johns Hopkins University) -->
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://ns.medbiq.org/member/v2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:n="http://ns.medbiq.org/name/v1/" xmlns:a="http://ns.medbiq.org/address/v1/" xmlns:mbq="http://ns.medbiq.org/common/v1/" targetNamespace="http://ns.medbiq.org/member/v2/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://ns.medbiq.org/name/v1/" schemaLocation="http://ns.medbiq.org/name/v1/name.xsd"/>
	<xsd:import namespace="http://ns.medbiq.org/address/v1/" schemaLocation="http://ns.medbiq.org/address/v1/address.xsd"/>
	<xsd:import namespace="http://ns.medbiq.org/common/v1/" schemaLocation="http://ns.medbiq.org/common/v1/attachment.xsd"/>
	<!--Copyright © 2013 MedBiquitous Consortium. All Rights Reserved. http://www.medbiq.org-->
	<!--Users are bound by the terms of the MedBiquitous Consortium XML Public License and Terms of Use-->
	<!--Modified 14 February 2013-->
	<!-- Note that use of Xtensibleinfo is deprecated in this version of the standard-->
	<xsd:simpleType name="NonNullStringType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IDDomainType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="idd:\S*\.\S*:\S*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CertificateTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="General Certificate"/>
			<xsd:enumeration value="Subcertificate"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CertificationDurationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Lifetime"/>
			<xsd:enumeration value="Time-limited"/>
			<xsd:enumeration value="Continuous"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CertificationOccurrenceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Initial"/>
			<xsd:enumeration value="Recertification"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CertificationMaintenanceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Maintained"/>
			<xsd:enumeration value="Not maintained"/>
			<xsd:enumeration value="Not required"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OccupationStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Active"/>
			<xsd:enumeration value="Retired"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PhysicalStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Living"/>
			<xsd:enumeration value="Deceased"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GenderType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Male"/>
			<xsd:enumeration value="Female"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProgramType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Residency"/>
			<xsd:enumeration value="Fellowship"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CertificationStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Active"/>
			<xsd:enumeration value="Inactive"/>
			<xsd:enumeration value="Expired"/>
			<xsd:enumeration value="Surrendered"/>
			<xsd:enumeration value="Suspended"/>
			<xsd:enumeration value="Revoked"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccuracyType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DayMonthYear"/>
			<xsd:enumeration value="MonthYear"/>
			<xsd:enumeration value="Year"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountryCodeType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IDTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Tax number"/>
			<xsd:enumeration value="Passport number"/>
			<xsd:enumeration value="Alien number"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NationalPhoneNumberType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YesNoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Yes"/>
			<xsd:enumeration value="No"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EducationStatusListType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Active"/>
			<xsd:enumeration value="Graduated"/>
			<xsd:enumeration value="Completed Preliminary Training"/>
			<xsd:enumeration value="Completed Specialty Training"/>
			<xsd:enumeration value="Withdrawn"/>
			<xsd:enumeration value="Dismissed"/>
			<xsd:enumeration value="No Longer Active"/>
			<xsd:enumeration value="Deceased"/>
			<xsd:enumeration value="Leave of Absence"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProgramYearType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="year \d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EducationStatusType">
		<xsd:union memberTypes="ProgramYearType EducationStatusListType"/>
	</xsd:simpleType>
	<xsd:simpleType name="RankBaseType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Professor"/>
			<xsd:enumeration value="Associate Professor"/>
			<xsd:enumeration value="Assistant Professor"/>
			<xsd:enumeration value="Instructor"/>
			<xsd:enumeration value="Lecturer"/>
			<xsd:enumeration value="Adjunct Professor"/>
			<xsd:enumeration value="Demonstrator"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PrimaryOrJointType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Primary"/>
			<xsd:enumeration value="Joint"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TenureStatusBaseType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Tenured"/>
			<xsd:enumeration value="Tenure Eligible Track"/>
			<xsd:enumeration value="Not Tenure Eligible Track"/>
			<xsd:enumeration value="Tenure Not Available"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AppointmentTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Full-time"/>
			<xsd:enumeration value="Part-time"/>
			<xsd:enumeration value="Volunteer"/>
			<xsd:enumeration value="Emeritus"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocationTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="School-based"/>
			<xsd:enumeration value="Hospital-based"/>
			<xsd:enumeration value="VA-based"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EndowedType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Yes"/>
			<xsd:enumeration value="No"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TermType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Acting"/>
			<xsd:enumeration value="Interim"/>
			<xsd:enumeration value="Permanent"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChairOrCochairType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Chair"/>
			<xsd:enumeration value="Co-chair"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChiefOrCochiefType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Chief"/>
			<xsd:enumeration value="Co-chief"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PointInTimeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Entry to professional school"/>
			<xsd:enumeration value="Birth"/>
			<xsd:enumeration value="Current"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ClinicalStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Active"/>
			<xsd:enumeration value="Inactive"/>
			<xsd:enumeration value="Unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ExpectedOrActualType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Expected"/>
			<xsd:enumeration value="Actual"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="EducationInfoType">
		<xsd:sequence>
			<xsd:element name="Degree" type="DegreeType" minOccurs="0"/>
			<xsd:element name="EducationalCertificate" type="EducationalCertificateType" minOccurs="0"/>
			<xsd:element name="InstitutionInfo" type="InstitutionInfoType" minOccurs="0"/>
			<xsd:element name="Accreditation" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="ProgramName" type="ProgramNameType" minOccurs="0"/>
			<xsd:element name="ProgramID" type="UniqueIDType" minOccurs="0"/>
			<xsd:element name="DisciplineOrSpecialty" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="Distinction" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="EducationStatus" type="EducationStatusType" minOccurs="0"/>
			<xsd:element name="ClassLevel" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="StartDate" type="DateAndAccuracyType" minOccurs="0"/>
			<xsd:element name="EndDate" type="DateAndAccuracyType" minOccurs="0"/>
			<xsd:element name="CompletionDate" type="CompletionDateType" minOccurs="0"/>
			<xsd:element name="CompletionDocumentIssuedDate" type="DateAndAccuracyType" minOccurs="0"/>
			<xsd:element name="Attachment" type="mbq:AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InstitutionInfoType">
		<xsd:sequence>
			<xsd:element name="InstitutionName" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="InstitutionID" type="UniqueIDType" minOccurs="0"/>
			<xsd:element name="Address" type="a:AddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DegreeType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="discipline" type="xsd:string"/>
				<xsd:attribute name="label"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EducationalCertificateType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="type" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ProgramNameType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="type" type="ProgramType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="UniqueIDType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="domain" type="IDDomainType" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CertificationInfoType">
		<xsd:sequence>
			<xsd:element name="CertificationOrganization" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="CertificationBoard" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="CertificateStatus" type="CertificationStatusType" minOccurs="0"/>
			<xsd:element name="CertificateInfo" type="CertificateInfoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Attachment" type="mbq:AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DateAndAccuracyType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:date">
				<xsd:attribute name="accuracy" type="AccuracyType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CertificateNameType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="certificateID" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CertificateIssuanceType">
		<xsd:sequence>
			<xsd:element name="CertificationID" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="CertificationFocus" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="CertificationDuration" type="CertificationDurationType" minOccurs="0"/>
			<xsd:element name="CertificationMaintenance" type="CertificationMaintenanceType" minOccurs="0" maxOccurs="2"/>
			<xsd:element name="CertificationOccurrence" type="CertificationOccurrenceType" minOccurs="0"/>
			<xsd:element name="CertificationIssueDate" type="DateAndAccuracyType" minOccurs="0"/>
			<xsd:element name="CertificationExpireDate" type="DateAndAccuracyType" minOccurs="0"/>
			<xsd:element name="ScheduledUpdate" type="DateAndAccuracyType" minOccurs="0"/>
			<xsd:element name="CertificationStatus" type="CertificationStatusType" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CertificateInfoType">
		<xsd:sequence>
			<xsd:element name="CertificateName" type="CertificateNameType" minOccurs="0"/>
			<xsd:element name="CertificateType" type="CertificateTypeType" minOccurs="0"/>
			<xsd:element name="CertificateIssuance" type="CertificateIssuanceType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OccupationInfoType">
		<xsd:sequence>
			<xsd:element name="Occupation" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="InstitutionInfo" type="InstitutionInfoType" minOccurs="0"/>
			<xsd:element name="OccupationTitle" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="Privileges" type="NonNullStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Practice" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="StartDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="EndDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Specialty" type="NonNullStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OccupationStatus" type="OccupationStatusType" minOccurs="0"/>
			<xsd:element name="AcademicAppointment" type="AcademicAppointmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersonalInfoType">
		<xsd:sequence>
			<xsd:element name="PhysicalStatus" type="PhysicalStatusType" minOccurs="0"/>
			<xsd:element name="BirthDate" type="PersonalDateType" minOccurs="0"/>
			<xsd:element name="DeceasedDate" type="PersonalDateType" minOccurs="0"/>
			<xsd:element name="Language" type="NonNullStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Citizenship" type="CitizenshipType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CountryOfResidence" type="a:CountryType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Gender" type="GenderType" minOccurs="0"/>
			<xsd:element name="Race" type="NonNullStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Ethnicity" type="NonNullStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ContactNumber" type="ContactNumberType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EmailAddress" type="EmailAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="URL" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="NationalID" type="NationalIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="FamilyMember" type="FamilyMemberType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PreferredMethodOfContact" type="NonNullStringType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="restrictions" type="a:RestrictionsType"/>
	</xsd:complexType>
	<xsd:complexType name="MembershipInfoType">
		<xsd:sequence>
			<xsd:element name="Membership" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="MembershipOrganization" type="MembershipOrganizationType" minOccurs="0"/>
			<xsd:element name="Country" type="a:CountryType" minOccurs="0"/>
			<xsd:element name="MemberNumber" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="MembershipLevel" type="MembershipLevelType" minOccurs="0"/>
			<xsd:element name="MembershipRole" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="MembershipStatus" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="MemberSinceDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="FellowshipDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ComponentGroup" type="ComponentGroupType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MembershipOrganizationType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="organizationID" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MembershipLevelType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="code" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ComponentGroupType">
		<xsd:sequence>
			<xsd:element name="ComponentGroupGenre" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="ComponentGroupName" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="ComponentGroupRole" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="MemberSinceDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="MemberUntilDate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="XtensibleInfoType">
		<xsd:sequence>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactNumberType">
		<xsd:sequence>
			<xsd:element name="CountryCode" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="TelephoneNumber" type="NonNullStringType"/>
			<xsd:element name="Extension" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="Description" type="NonNullStringType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="restrictions" type="a:RestrictionsType"/>
	</xsd:complexType>
	<xsd:complexType name="EmailAddressType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="restrictions" type="a:RestrictionsType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PersonalDateType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:date">
				<xsd:attribute name="accuracy" type="AccuracyType"/>
				<xsd:attribute name="restrictions" type="a:RestrictionsType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="FamilyMemberType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="relationship" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MemberType">
		<xsd:sequence>
			<xsd:element name="UniqueID" type="UniqueIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Name" type="n:NameType" minOccurs="0"/>
			<xsd:element name="Address" type="a:AddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EducationInfo" type="EducationInfoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CertificationInfo" type="CertificationInfoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="LicenseInfo" type="LicenseInfoType" minOccurs="0"/>
			<xsd:element name="DisciplinaryInfo" type="DisciplinaryInfoType" minOccurs="0"/>
			<xsd:element name="ClinicalStatus" type="ClinicalStatusType" minOccurs="0"/>
			<xsd:element name="OccupationInfo" type="OccupationInfoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PersonalInfo" type="PersonalInfoType" minOccurs="0"/>
			<xsd:element name="MembershipInfo" type="MembershipInfoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Attachment" type="mbq:AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ModifiedDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="XtensibleInfo" type="XtensibleInfoType" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="restrictions" type="a:RestrictionsType"/>
	</xsd:complexType>
	<xsd:complexType name="MembersType">
		<xsd:sequence>
			<xsd:element name="Member" type="MemberType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Members" type="MembersType"/>
	<xsd:complexType name="LicenseInfoType">
		<xsd:sequence>
			<xsd:element name="License" type="LicenseType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LicenseType">
		<xsd:sequence>
			<xsd:element name="LicensureEntity" type="LicensureEntityType"/>
			<xsd:element name="LicenseNumber" type="NonNullStringType"/>
			<xsd:element name="Profession" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="Jurisdiction" type="JurisdictionType" minOccurs="0"/>
			<xsd:element name="InitialLicensureDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="LicenseStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LicenseExpirationDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Attachment" type="mbq:AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LicensureEntityType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="code" type="xsd:string"/>
				<xsd:attribute name="domain" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="JurisdictionType">
		<xsd:sequence>
			<xsd:element name="Country" type="a:CountryType"/>
			<xsd:element name="StateOrProvince" type="NonNullStringType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DisciplinaryInfoType">
		<xsd:sequence>
			<xsd:element name="BoardOrder" type="BoardOrderType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BoardOrderType">
		<xsd:sequence>
			<xsd:element name="DisciplinaryEntity" type="DisciplinaryEntityType"/>
			<xsd:element name="OrderDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="OrderEffectiveDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ActionForm" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="NoticeOrAction" type="NoticeOrActionType"/>
			<xsd:element name="Attachment" type="mbq:AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DisciplinaryEntityType">
		<xsd:sequence>
			<xsd:element name="DisciplinaryEntityName" type="DisciplinaryEntityNameType"/>
			<xsd:element name="ContactInformation" type="ContactInformationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactInformationType">
		<xsd:sequence>
			<xsd:element name="Address" type="a:AddressType" minOccurs="0"/>
			<xsd:element name="ContactNumber" type="ContactNumberType" minOccurs="0"/>
			<xsd:element name="EmailAddress" type="EmailAddressType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="restrictions" type="a:RestrictionsType"/>
	</xsd:complexType>
	<xsd:complexType name="NoticeOrActionType">
		<xsd:choice>
			<xsd:element name="BoardNotice" type="BoardNoticeType"/>
			<xsd:element name="BoardAction" type="BoardActionType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="BoardNoticeType">
		<xsd:sequence>
			<xsd:element name="NoticeDescription" type="NonNullStringType"/>
			<xsd:element name="DeathDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Comment" type="NonNullStringType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="code" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="BoardActionType">
		<xsd:sequence>
			<xsd:element name="ActionDescription" type="NonNullStringType"/>
			<xsd:element name="ActionSpan" type="ActionSpanType" minOccurs="0"/>
			<xsd:element name="ActionStayed" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="IndefiniteAction" type="YesNoType" minOccurs="0"/>
			<xsd:element name="Comment" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="BoardOrderAppeal" type="BoardOrderAppealType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="domain" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="ActionSpanType">
		<xsd:sequence>
			<xsd:element name="ActionEffectiveDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ActionExpirationDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="TermDuration" type="xsd:duration" minOccurs="0"/>
			<xsd:element name="TermFromDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="TermToDate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BoardOrderAppealType">
		<xsd:sequence>
			<xsd:element name="NoticeOfAppealDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Judgement" type="JudgementType" minOccurs="0"/>
			<xsd:element name="CourtName" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="AppealSource" type="AppealSourceType" minOccurs="0"/>
			<xsd:element name="PracticePermitted" type="PracticePermittedType" minOccurs="0"/>
			<xsd:element name="Comment" type="NonNullStringType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="domain" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="JudgementType">
		<xsd:sequence>
			<xsd:element name="JudgementDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="JudgementDescription" type="NonNullStringType"/>
		</xsd:sequence>
		<xsd:attribute name="code" type="xsd:string"/>
		<xsd:attribute name="domain" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="AppealSourceType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="code" type="xsd:string"/>
				<xsd:attribute name="domain" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PracticePermittedType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="code" type="xsd:string"/>
				<xsd:attribute name="domain" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AcademicAppointmentType">
		<xsd:sequence>
			<xsd:element name="FacultyAppointment" type="FacultyAppointmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ChairAppointment" type="ChairAppointmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DivisionOrSectionAppointment" type="DivisionOrSectionAppointmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AdministrativeAppointment" type="AdministrativeAppointmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FacultyAppointmentType">
		<xsd:complexContent>
			<xsd:extension base="AppointmentCoreCharacteristicsType">
				<xsd:sequence>
					<xsd:element name="Title" type="NonNullStringType"/>
					<xsd:element name="DivisionOrSection" type="NonNullStringType" minOccurs="0"/>
					<xsd:element name="Rank" type="RankType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="PrimaryOrJoint" type="PrimaryOrJointType" minOccurs="0"/>
					<xsd:element name="FacultyTrack" type="NonNullStringType" minOccurs="0"/>
					<xsd:element name="TenureStatus" type="TenureStatusType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="AppointmentType" type="AppointmentTypeType" minOccurs="0"/>
					<xsd:element name="PercentEffort" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:maxInclusive value="100"/>
								<xsd:minInclusive value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LocationType" type="LocationTypeType" minOccurs="0"/>
					<xsd:element name="Endowed" type="EndowedType" minOccurs="0"/>
					<xsd:element name="EndowedTitle" type="NonNullStringType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AppointmentCoreCharacteristicsType">
		<xsd:sequence>
			<xsd:element name="AdministrativeUnit" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="EffectiveDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="EndDate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChairAppointmentType">
		<xsd:complexContent>
			<xsd:extension base="AppointmentCoreCharacteristicsType">
				<xsd:sequence>
					<xsd:element name="Title" type="NonNullStringType"/>
					<xsd:element name="ChairOrCochair" type="ChairOrCochairType"/>
					<xsd:element name="Term" type="TermType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AdministrativeAppointmentType">
		<xsd:complexContent>
			<xsd:extension base="AppointmentCoreCharacteristicsType">
				<xsd:sequence>
					<xsd:element name="Title" type="NonNullStringType"/>
					<xsd:element name="LocationType" type="LocationTypeType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DisciplinaryEntityNameType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="code" type="xsd:string"/>
				<xsd:attribute name="domain" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CitizenshipType">
		<xsd:complexContent>
			<xsd:extension base="a:CountryType">
				<xsd:attribute name="pointInTime" type="PointInTimeType"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TenureStatusType">
		<xsd:simpleContent>
			<xsd:extension base="TenureStatusBaseType">
				<xsd:attribute name="effectiveDate" type="xsd:date"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="RankType">
		<xsd:simpleContent>
			<xsd:extension base="RankBaseType">
				<xsd:attribute name="effectiveDate" type="xsd:date"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DivisionOrSectionAppointmentType">
		<xsd:complexContent>
			<xsd:extension base="AppointmentCoreCharacteristicsType">
				<xsd:sequence>
					<xsd:element name="ChiefOrCochief" type="ChiefOrCochiefType"/>
					<xsd:element name="Term" type="TermType" minOccurs="0"/>
					<xsd:element name="Title" type="NonNullStringType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CompletionDateType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:date">
				<xsd:attribute name="accuracy" type="AccuracyType"/>
				<xsd:attribute name="expectedOrActual" type="ExpectedOrActualType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NationalIDType">
		<xsd:simpleContent>
			<xsd:extension base="NonNullStringType">
				<xsd:attribute name="countryName"/>
				<xsd:attribute name="countryCode"/>
				<xsd:attribute name="idType" type="IDTypeType"/>
				<xsd:attribute name="restrictions" type="a:RestrictionsType"/>
				<xsd:attribute name="truncated" type="xsd:boolean" default="false"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
