member/v2/member.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Modified Mar 31, 2025; Edited with Visual Studio 2022 by Prasad Chodavarapu -->
<xsd:schema xmlns="http://ns.medbiq.org/member/v2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:n="http://ns.medbiq.org/name/v2/" xmlns:a="http://ns.medbiq.org/address/v2/" xmlns:mbq="http://ns.medbiq.org/common/v2/" targetNamespace="http://ns.medbiq.org/member/v2/" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:import namespace="http://ns.medbiq.org/name/v2/" schemaLocation="http://ns.medbiq.org/name/v2/name.xsd"/>
  <xsd:import namespace="http://ns.medbiq.org/address/v2/" schemaLocation="http://ns.medbiq.org/address/v2/address.xsd"/>
  <xsd:import namespace="http://ns.medbiq.org/common/v2/" schemaLocation="http://ns.medbiq.org/common/v2/common.xsd"/>
  <!--Copyright © 2017 MedBiquitous Consortium. All Rights Reserved. http://www.medbiq.org-->
  <!--Users are bound by the terms of the MedBiquitous Consortium XML Public License and Terms of Use-->
	<!-- Note that use of Xtensibleinfo is deprecated in this version of the standard-->
  <xsd:element name="Members" type="MembersType"/>
  <xsd:attributeGroup name="CommonAttributes">
    <xsd:attribute name="id" type="xsd:ID"/>
    <xsd:attribute name="source" type="xsd:string"/>
    <xsd:attribute name="validityDate" type="xsd:date"/>
    <xsd:attribute name="restrictions" type="mbq:RestrictionsType"/>
  </xsd:attributeGroup>
  <xsd:simpleType name="AccuracyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DayMonth"/>
      <xsd:enumeration value="DayMonthYear"/>
      <xsd:enumeration value="MonthYear"/>
      <xsd:enumeration value="Year"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AppointmentTypeVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Full-time"/>
      <xsd:enumeration value="Part-time"/>
      <xsd:enumeration value="Volunteer"/>
      <xsd:enumeration value="Emeritus"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CertificateTypeVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="General Certificate"/>
      <xsd:enumeration value="Subcertificate"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CertificationDurationVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Lifetime"/>
      <xsd:enumeration value="Time-limited"/>
      <xsd:enumeration value="Continuous"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CertificationMaintenanceRequiredVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Required"/>
      <xsd:enumeration value="Not Required"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CertificationMaintenanceVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Maintained"/>
      <xsd:enumeration value="Not Maintained"/>
      <xsd:enumeration value="Not Required"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CertificationOccurrenceVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Initial"/>
      <xsd:enumeration value="Recertification"/>
    </xsd:restriction>
  </xsd:simpleType> 
  <xsd:simpleType name="CertificationStatusVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Inactive"/>
      <xsd:enumeration value="Lapsed"/>
      <xsd:enumeration value="Expired"/>
      <xsd:enumeration value="Surrendered"/>
      <xsd:enumeration value="Suspended"/>
      <xsd:enumeration value="Revoked"/>
      <xsd:enumeration value="Certified"/>
      <xsd:enumeration value="Not Certified"/>
      <xsd:enumeration value="Certified but Clinically Inactive"/>
      <xsd:enumeration value="Retired"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CertificateStatusVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Inactive"/>
      <xsd:enumeration value="Lapsed"/>
      <xsd:enumeration value="Expired"/>
      <xsd:enumeration value="Surrendered"/>
      <xsd:enumeration value="Suspended"/>
      <xsd:enumeration value="Revoked"/>
      <xsd:enumeration value="Certified"/>
      <xsd:enumeration value="Not Certified"/>
      <xsd:enumeration value="Certified but Clinically Inactive"/>
	  <xsd:enumeration value="Retired"/>
      <xsd:enumeration value="Converted"/>
      <xsd:enumeration value="Pending"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CertificateIssuanceStatusVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active"/>
      <xsd:enumeration value="Inactive"/>
      <xsd:enumeration value="Lapsed"/>
      <xsd:enumeration value="Expired"/>
      <xsd:enumeration value="Surrendered"/>
      <xsd:enumeration value="Suspended"/>
      <xsd:enumeration value="Revoked"/>
	  <xsd:enumeration value="Retired"/>
      <xsd:enumeration value="Converted"/>
      <xsd:enumeration value="Pending"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChairOrCochairVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Chair"/>
      <xsd:enumeration value="Co-chair"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChiefOrCochiefVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Chief"/>
      <xsd:enumeration value="Co-chief"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ClinicalStatusVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active"/>
      <xsd:enumeration value="Inactive"/>
      <xsd:enumeration value="Unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CountryCodeRestrictionType">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EducationStatusListType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active"/>
      <xsd:enumeration value="Graduated"/>
      <xsd:enumeration value="Completed Preliminary Training"/>
      <xsd:enumeration value="Completed Specialty Training"/>
      <xsd:enumeration value="Withdrawn"/>
      <xsd:enumeration value="Dismissed"/>
      <xsd:enumeration value="No Longer Active"/>
      <xsd:enumeration value="Deceased"/>
      <xsd:enumeration value="Leave of Absence"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EducationStatusVocabularyType">
    <xsd:union memberTypes="ProgramYearType EducationStatusListType"/>
  </xsd:simpleType>
  <xsd:simpleType name="EndowedVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Yes"/>
      <xsd:enumeration value="No"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ExpectedOrActualType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Expected"/>
      <xsd:enumeration value="Actual"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--<xsd:simpleType name="GenderVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Male"/>
      <xsd:enumeration value="Female"/>
    </xsd:restriction>
  </xsd:simpleType>-->
  <xsd:simpleType name="IDDomainType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="idd:\S*\.\S*:\S*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="IDTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Tax number"/>
      <xsd:enumeration value="Passport number"/>
      <xsd:enumeration value="Alien number"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocationTypeVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="School-based"/>
      <xsd:enumeration value="Hospital-based"/>
      <xsd:enumeration value="VA-based"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NationalPhoneNumberRestrictedType">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits value="14"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OccupationStatusVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active"/>
      <xsd:enumeration value="Retired"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PercentEffortRestrictedType">
    <xsd:restriction base="xsd:integer">
      <xsd:maxInclusive value="100"/>
      <xsd:minInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PhysicalStatusVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Living"/>
      <xsd:enumeration value="Deceased"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PointInTimeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Entry to professional school"/>
      <xsd:enumeration value="Birth"/>
      <xsd:enumeration value="Current"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PrimaryOrJointVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Primary"/>
      <xsd:enumeration value="Joint"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProgramType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Residency"/>
      <xsd:enumeration value="Fellowship"/>
      <xsd:enumeration value="Other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProgramYearType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="year \d"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RankVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Professor"/>
      <xsd:enumeration value="Associate Professor"/>
      <xsd:enumeration value="Assistant Professor"/>
      <xsd:enumeration value="Instructor"/>
      <xsd:enumeration value="Lecturer"/>
      <xsd:enumeration value="Adjunct Professor"/>
      <xsd:enumeration value="Demonstrator"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RecognitionIssuanceStatusVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active"/>
      <xsd:enumeration value="Inactive"/>
      <xsd:enumeration value="Expired"/>
      <xsd:enumeration value="Lapsed"/>
      <xsd:enumeration value="Surrendered"/>
      <xsd:enumeration value="Suspended"/>
      <xsd:enumeration value="Revoked"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TenureStatusVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Tenured"/>
      <xsd:enumeration value="Tenure Eligible Track"/>
      <xsd:enumeration value="Not Tenure Eligible Track"/>
      <xsd:enumeration value="Tenure Not Available"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TermVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Acting"/>
      <xsd:enumeration value="Interim"/>
      <xsd:enumeration value="Permanent"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="YesNoVocabularyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Yes"/>
      <xsd:enumeration value="No"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AcademicAppointmentType">
    <xsd:sequence>
      <xsd:element name="FacultyAppointment" type="FacultyAppointmentType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ChairAppointment" type="ChairAppointmentType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="DivisionOrSectionAppointment" type="DivisionOrSectionAppointmentType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="AdministrativeAppointment" type="AdministrativeAppointmentType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="ActionSpanType">
    <xsd:sequence>
      <xsd:element name="ActionEffectiveDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="ActionExpirationDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="TermDuration" type="DurationType" minOccurs="0"/>
      <xsd:element name="TermFromDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="TermToDate" type="DateAndAccuracyType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="AdministrativeAppointmentType">
    <xsd:complexContent>
      <xsd:extension base="AppointmentCoreCharacteristicsType">
        <xsd:sequence>
          <xsd:element name="Title" type="NonNullStringWithAttributesType"/>
          <xsd:element name="LocationType" type="LocationTypeType" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AnyURIType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:anyURI">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AppealSourceType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="code" type="xsd:string"/>
        <xsd:attribute name="domain" type="xsd:string"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AppointmentCoreCharacteristicsType">
    <xsd:sequence>
      <xsd:element name="AdministrativeUnit" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="EffectiveDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="EndDate" type="DateAndAccuracyType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="AppointmentTypeType">
    <xsd:annotation>
      <xsd:documentation>Complex type (allowing attributes) using ApointmentTypeType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="AppointmentTypeVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="CodeDescriptionType">
    <xsd:sequence>
      <xsd:element name="Code" type="mbq:NonNullStringType" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Description" type="mbq:NonNullStringType" maxOccurs="1" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>

  <xsd:complexType name="BoardActionsType">
    <xsd:annotation>
      <xsd:documentation>
        List of Actions
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BoardAction" type="BoardActionType" minOccurs ="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>

  <xsd:complexType name="BoardActionType">
    <xsd:sequence>
      <xsd:element name="ActionDescription" type="CodeDescriptionType"/>
      <xsd:element name="ActionCategory" type="CodeDescriptionType"/>
      <xsd:element name="Prejudicial" type="YesNoType"/>
      <xsd:element name="ActionSpan" type="ActionSpanType" minOccurs="0"/>
      <xsd:element name="ActionStayed" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="IndefiniteAction" type="YesNoType" minOccurs="0"/>
      <xsd:element name="Comment" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="BoardAppeals" type="BoardAppealsType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="boardActionID" type="xsd:string"/>
    <xsd:attribute name="domain" type="xsd:string"/>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>

  <xsd:complexType name="BoardAppealsType">
    <xsd:annotation>
      <xsd:documentation>
        List of Appeals based on Board Order or Board Action
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BoardAppeal" type="BoardAppealType" minOccurs ="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>

  <xsd:complexType name="BoardAppealType">
    <xsd:sequence>
      <xsd:element name="NoticeOfAppealDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="Judgement" type="JudgementType" minOccurs="0"/>
      <xsd:element name="CourtName" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="AppealSource" type="AppealSourceType" minOccurs="0"/>
      <xsd:element name="PracticePermitted" type="PracticePermittedType" minOccurs="0"/>
      <xsd:element name="Comment" type="NonNullStringWithAttributesType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="appealID" type="xsd:string"/>
    <xsd:attribute name="domain" type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="BoardOrderType">
    <xsd:sequence>
      <xsd:element name="DisciplinaryEntity" type="DisciplinaryEntityType"/>
      <xsd:element name="BoardOrderBasis" type="CodeDescriptionType"  minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="OrderDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="OrderEffectiveDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="ActionForm" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="BoardActions" type="BoardActionsType"  minOccurs="0"/>
      <xsd:element name="BoardAppeals" type="BoardAppealsType"  minOccurs="0"/>
      <xsd:element name="Attachment" type="mbq:AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="CertificateInfoType">
    <xsd:sequence>
      <xsd:element name="CertificateName" type="CertificateNameType" minOccurs="0"/>
      <xsd:element name="CertificateType" type="CertificateTypeType" minOccurs="0"/>
      <xsd:element name="CertificateFocus" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="CertificateStatus" type="CertificateStatusType" minOccurs="0"/>
      <xsd:element name="CertificateMaintenance" type="CertificationMaintenanceType" minOccurs="0"/>
      <xsd:element name="CertificateMaintenanceRequired" type="CertificationMaintenanceRequiredType" minOccurs="0"/>
      <xsd:element name="CertificateIssuance" type="CertificateIssuanceType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Recognition" type="RecognitionIssuanceType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="CertificateNotices" type="CertificateNoticesType"  minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
   <xsd:complexType name="CertificateIssuanceType">
    <xsd:sequence>
      <xsd:element name="CertificateIssuanceID" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="CertificateIssuanceFocus" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="CertificateIssuanceDuration" type="CertificationDurationType" minOccurs="0"/>
      <xsd:element name="CertificateIssuanceOccurrence" type="CertificationOccurrenceType" minOccurs="0"/>
      <xsd:element name="CertificateIssueDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="CertificateExpireDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="CertificateIssuanceScheduledUpdate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="CertificateIssuanceStatus" type="CertificateIssuanceStatusType" minOccurs="0"/>
      <xsd:element name="CertificateIssuanceNotices" type="CertificateNoticesType"  minOccurs="0"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>

  <xsd:complexType name="CertificateNoticesType">
    <xsd:annotation>
      <xsd:documentation>
        List of Notifications for a Certificate Info element or Certificate Issuance element
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CertificateNotice" type="CertificateNoticeType" minOccurs ="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>

  <xsd:complexType name="CertificateNoticeType">
    <xsd:sequence>
      <xsd:element name="NoticeCategory" type="NonNullStringWithAttributesType" minOccurs="1"/>
      <xsd:element name="NoticeDetail" type="NonNullStringWithAttributesType" minOccurs="1"/>
      <xsd:element name="NoticeDate" type="DateAndAccuracyType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  
  <xsd:complexType name="CertificateNameType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="certificateID" type="xsd:string"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CertificateTypeType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) CertificateTypeVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="CertificateTypeVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CertificationDurationType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) CertificationDurationVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="CertificationDurationVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CertificationInfoType">
    <xsd:sequence>
      <xsd:element name="RecognitionOrganization" type="NonNullStringWithAttributesType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="CertificationBoard" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="CertificationStatus" type="CertificationStatusType" minOccurs="0"/>
      <xsd:element name="CertificationStatusValidUntilDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="CertificationMaintenance" type="CertificationMaintenanceType" minOccurs="0"/>
      <xsd:element name="CertificationMaintenanceRequired" type="CertificationMaintenanceRequiredType" minOccurs="0"/>
      <xsd:element name="CertificateInfo" type="CertificateInfoType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Attachment" type="mbq:AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="CertificationMaintenanceType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) CertificationMaintenanceVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="CertificationMaintenanceVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CertificationMaintenanceRequiredType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) CertificationMaintenanceRequiredVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="CertificationMaintenanceRequiredVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CertificationOccurrenceType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) CertificationOccurrenceVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="CertificationOccurrenceVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:complexType name="CertificationStatusType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) CertificationStatusVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="CertificationStatusVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="CertificateIssuanceStatusType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) CertificateIssuanceStatusVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="CertificateIssuanceStatusVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="CertificateStatusType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) CertificateStatusVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="CertificateStatusVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:complexType name="ChairAppointmentType">
    <xsd:complexContent>
      <xsd:extension base="AppointmentCoreCharacteristicsType">
        <xsd:sequence>
          <xsd:element name="Title" type="NonNullStringWithAttributesType"/>
          <xsd:element name="ChairOrCochair" type="ChairOrCochairType"/>
          <xsd:element name="Term" type="TermType" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ChairOrCochairType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) ChairOrCochairVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ChairOrCochairVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ChiefOrCochiefType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) ChiefOrCochiefVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ChiefOrCochiefVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CitizenshipType">
    <xsd:complexContent>
      <xsd:extension base="a:CountryType">
        <xsd:attribute name="pointInTime" type="PointInTimeType"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ClinicalStatusType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) ClinicalStatusVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ClinicalStatusVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CompletionDateType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:date">
        <xsd:attribute name="accuracy" type="AccuracyType"/>
        <xsd:attribute name="expectedOrActual" type="ExpectedOrActualType"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ComponentGroupType">
    <xsd:sequence>
      <xsd:element name="ComponentGroupGenre" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="ComponentGroupName" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="ComponentGroupRole" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="MemberSinceDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="MemberUntilDate" type="DateAndAccuracyType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="ContactInformationType">
    <xsd:sequence>
      <xsd:element name="Address" type="a:AddressType" minOccurs="0"/>
      <xsd:element name="ContactNumber" type="ContactNumberType" minOccurs="0"/>
      <xsd:element name="EmailAddress" type="NonNullStringWithAttributesType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="ContactNumberType">
    <xsd:sequence>
      <xsd:element name="CountryCode" type="IntegerType" minOccurs="0"/>
      <xsd:element name="TelephoneNumber" type="NonNullStringWithAttributesType"/>
      <xsd:element name="Extension" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="Description" type="NonNullStringWithAttributesType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="CountryCodeType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) CountryCodeRestrictionType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="CountryCodeRestrictionType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DateAndAccuracyType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:date">
        <xsd:attribute name="accuracy" type="AccuracyType"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>Complex type (allows attributes) using xsd:date as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:date">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DegreeType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="discipline" type="xsd:string"/>
        <xsd:attribute name="label"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DisciplinaryEntityNameType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="abbreviation" type="xsd:string"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="DisciplinaryEntityCodeType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="source" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="DisciplinaryEntityType">
    <xsd:sequence>
      <xsd:element name="DisciplinaryEntityCode" type="DisciplinaryEntityCodeType" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="DisciplinaryEntityName" type="DisciplinaryEntityNameType"/>
      <xsd:element name="ContactInformation" type="ContactInformationType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="DisciplinaryInfoType">
    <xsd:sequence>
      <xsd:element name="BoardOrder" type="BoardOrderType" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="DivisionOrSectionAppointmentType">
    <xsd:complexContent>
      <xsd:extension base="AppointmentCoreCharacteristicsType">
        <xsd:sequence>
          <xsd:element name="ChiefOrCochief" type="ChiefOrCochiefType"/>
          <xsd:element name="Term" type="TermType" minOccurs="0"/>
          <xsd:element name="Title" type="NonNullStringWithAttributesType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DurationType">
    <xsd:annotation>
      <xsd:documentation>Complex type (allows attributes) using xsd:duration as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:duration">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="EducationalCertificateType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="type" type="xsd:string"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="EducationInfoType">
    <xsd:sequence>
      <xsd:element name="Degree" type="DegreeType" minOccurs="0"/>
      <xsd:element name="EducationalCertificate" type="EducationalCertificateType" minOccurs="0"/>
      <xsd:element name="InstitutionInfo" type="InstitutionInfoType" minOccurs="0"/>
      <xsd:element name="Accreditation" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="ProgramName" type="ProgramNameType" minOccurs="0"/>
      <xsd:element name="ProgramID" type="UniqueIDType" minOccurs="0"/>
      <xsd:element name="DisciplineOrSpecialty" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="Distinction" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="EducationStatus" type="EducationStatusType" minOccurs="0"/>
      <xsd:element name="ClassLevel" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="StartDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="EndDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="CompletionDate" type="CompletionDateType" minOccurs="0"/>
      <xsd:element name="CompletionDocumentIssuedDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="Attachment" type="mbq:AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="EducationStatusType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) EducationStatusVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="EducationStatusVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="EndowedType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) EndowedVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="EndowedVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FacultyAppointmentType">
    <xsd:complexContent>
      <xsd:extension base="AppointmentCoreCharacteristicsType">
        <xsd:sequence>
          <xsd:element name="Title" type="NonNullStringWithAttributesType"/>
          <xsd:element name="DivisionOrSection" type="NonNullStringWithAttributesType" minOccurs="0"/>
          <xsd:element name="Rank" type="RankType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="PrimaryOrJoint" type="PrimaryOrJointType" minOccurs="0"/>
          <xsd:element name="FacultyTrack" type="NonNullStringWithAttributesType" minOccurs="0"/>
          <xsd:element name="TenureStatus" type="TenureStatusType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="AppointmentType" type="AppointmentTypeType" minOccurs="0"/>
          <xsd:element name="PercentEffort" type="PercentEffortType" minOccurs="0"/>
          <xsd:element name="LocationType" type="LocationTypeType" minOccurs="0"/>
          <xsd:element name="Endowed" type="EndowedType" minOccurs="0"/>
          <xsd:element name="EndowedTitle" type="NonNullStringWithAttributesType" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FamilyMemberType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="relationship" type="xsd:string"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--<xsd:complexType name="GenderType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) 
	        GenderVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="GenderVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>-->
  <xsd:complexType name="InstitutionInfoType">
    <xsd:sequence>
      <xsd:element name="InstitutionName" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="InstitutionID" type="UniqueIDType" minOccurs="0"/>
      <xsd:element name="Address" minOccurs="0">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="a:AddressType"/>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="IntegerType">
    <xsd:annotation>
      <xsd:documentation>Complex type (allows attributes) using xsd:integer as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:integer">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="JudgementType">
    <xsd:sequence>
      <xsd:element name="JudgementDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="JudgementDescription" type="NonNullStringWithAttributesType"/>
    </xsd:sequence>
    <xsd:attribute name="code" type="xsd:string"/>
    <xsd:attribute name="domain" type="xsd:string"/>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="JurisdictionType">
    <xsd:sequence>
      <xsd:element name="Country" type="a:CountryType"/>
      <xsd:element name="StateOrProvince" type="NonNullStringWithAttributesType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="LanguageType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:language">
        <xsd:attribute name="nativeLanguage" type="xsd:boolean"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LicenseEntityNameType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="abbreviation" type="xsd:string"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LicenseInfoType">
    <xsd:sequence>
      <xsd:element name="License" type="LicenseType" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="LicenseType">
    <xsd:sequence>
      <xsd:element name="LicensureEntity" type="LicensureEntityType"/>
      <xsd:element name="LicenseNumberAvailability" type="LicenseNumberAvailabilityType" minOccurs="1"/>
      <xsd:element name="LicenseNumber" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="LicenseCategory" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="Profession" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="Jurisdiction" type="JurisdictionType" minOccurs="0"/>
      <xsd:element name="InitialLicensureDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="LicenseStatus" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="LicenseExpirationDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="Attachment" type="mbq:AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="LicenseNotices" type="LicenseNoticesType"  minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>

  <xsd:complexType name="LicenseNoticesType">
    <xsd:annotation>
      <xsd:documentation>
        List of Notices for a license
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LicenseNotice" type="LicenseNoticeType" minOccurs ="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>

  <xsd:complexType name="LicenseNoticeType">
    <xsd:sequence>
      <xsd:element name="NoticeDescription" type="CodeDescriptionType"/>
      <xsd:element name="DeathDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="Comment" type="NonNullStringWithAttributesType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="noticeID" type="xsd:string"/>
    <xsd:attribute name="domain" type="xsd:string"/>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>

  <xsd:simpleType name="LicenseNumberAvailabilityType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Available"/>
      <xsd:enumeration value="Confidential"/>
      <xsd:enumeration value="Unknown"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="LicensureEntityType">
    <xsd:sequence>
      <xsd:element name="LicensureEntityName" type="DisciplinaryEntityNameType"/>
      <xsd:element name="ContactInformation" type="ContactInformationType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="code" type="xsd:string"/>
    <xsd:attribute name="domain" type="xsd:string"/>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="LocationTypeType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) LocationTypeVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="LocationTypeVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MembershipInfoType">
    <xsd:sequence>
      <xsd:element name="Membership" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="MembershipOrganization" type="MembershipOrganizationType" minOccurs="0"/>
      <xsd:element name="Country" type="a:CountryType" minOccurs="0"/>
      <xsd:element name="MemberNumber" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="MembershipLevel" type="MembershipLevelType" minOccurs="0"/>
      <xsd:element name="MembershipRole" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="MembershipStatus" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="MemberSinceDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="FellowshipDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="ComponentGroup" type="ComponentGroupType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="MembershipLevelType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="code" type="xsd:string"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MembershipOrganizationType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="organizationID" type="xsd:string"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MembersType">
    <xsd:sequence>
      <xsd:element name="Member" type="MemberType" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="MemberType">
    <xsd:sequence>
      <xsd:element name="UniqueID" type="UniqueIDType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Name" type="n:NameType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Address" type="a:AddressType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="EducationInfo" type="EducationInfoType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="CertificationInfo" type="CertificationInfoType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="LicenseInfo" type="LicenseInfoType" minOccurs="0"/>
      <xsd:element name="DisciplinaryInfo" type="DisciplinaryInfoType" minOccurs="0"/>
      <xsd:element name="ClinicalStatus" type="ClinicalStatusType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="OccupationInfo" type="OccupationInfoType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="PersonalInfo" type="PersonalInfoType" minOccurs="0"/>
      <xsd:element name="MembershipInfo" type="MembershipInfoType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Attachment" type="mbq:AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ModifiedDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="XtensibleInfo" type="XtensibleInfoType" minOccurs="0"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="NationalIDType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="countryName"/>
        <xsd:attribute name="countryCode"/>
        <xsd:attribute name="idType" type="IDTypeType"/>
        <xsd:attribute name="truncated" type="xsd:boolean" default="false"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="NationalPhoneNumberType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) NationalPhoneNumberRestrictedType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="NationalPhoneNumberRestrictedType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="NonNullStringWithAttributesType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) NonNullStringType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="OccupationInfoType">
    <xsd:sequence>
      <xsd:element name="Occupation" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="InstitutionInfo" type="InstitutionInfoType" minOccurs="0"/>
      <xsd:element name="OccupationTitle" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="Privileges" type="NonNullStringWithAttributesType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Practice" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="StartDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="EndDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="Specialty" type="NonNullStringWithAttributesType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="OccupationStatus" type="OccupationStatusType" minOccurs="0"/>
      <xsd:element name="AcademicAppointment" type="AcademicAppointmentType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="OccupationStatusType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) OccupationStatusVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="OccupationStatusVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PercentEffortType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) PercentEffortRestrictedType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="PercentEffortRestrictedType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonalInfoType">
    <xsd:sequence>
      <xsd:element name="PhysicalStatus" type="PhysicalStatusType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="BirthDate" type="DateAndAccuracyType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="DeceasedDate" type="DateAndAccuracyType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Language" type="LanguageType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Citizenship" type="CitizenshipType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="CountryOfResidence" type="a:CountryTypeWithAttributes" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="CountryOfBirth" type="a:CountryTypeWithAttributes" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Gender" type="NonNullStringWithAttributesType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Race" type="NonNullStringWithAttributesType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Ethnicity" type="NonNullStringWithAttributesType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ContactNumber" type="ContactNumberType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="EmailAddress" type="NonNullStringWithAttributesType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="URL" type="AnyURIType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="NationalID" type="NationalIDType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="FamilyMember" type="FamilyMemberType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="PreferredMethodOfContact" type="NonNullStringWithAttributesType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  <xsd:complexType name="PhysicalStatusType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) PhysicalStatusVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="PhysicalStatusVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PracticePermittedType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="code" type="xsd:string"/>
        <xsd:attribute name="domain" type="xsd:string"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PrimaryOrJointType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) PrimaryOrJointVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="PrimaryOrJointVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ProgramNameType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="type" type="ProgramType"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="RankType">
    <xsd:simpleContent>
      <xsd:extension base="RankVocabularyType">
        <xsd:attribute name="effectiveDate" type="xsd:date"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="RecognitionIssuanceType">
    <xsd:sequence>
      <xsd:element name="RecognitionIssuanceID" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="RecognitionName" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="RecognitionType" type="NonNullStringWithAttributesType" minOccurs="0"/>
      <xsd:element name="RecognitionIssuanceDuration" type="CertificationDurationType" minOccurs="0"/>
      <xsd:element name="RecognitionIssueDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="RecognitionExpireDate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="RecognitionIssuanceScheduledUpdate" type="DateAndAccuracyType" minOccurs="0"/>
      <xsd:element name="RecognitionIssuanceStatus" type="RecognitionIssuanceStatusType" minOccurs="0"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonAttributes"/>
  </xsd:complexType>
  
  <xsd:complexType name="RecognitionIssuanceStatusType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) RecognitionIssuanceStatusVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="RecognitionIssuanceStatusVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="TenureStatusType">
    <xsd:simpleContent>
      <xsd:extension base="TenureStatusVocabularyType">
        <xsd:attribute name="effectiveDate" type="xsd:date"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TermType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) TermVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="TermVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="UniqueIDType">
    <xsd:simpleContent>
      <xsd:extension base="mbq:NonNullStringType">
        <xsd:attribute name="domain" type="IDDomainType" use="required"/>
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="XtensibleInfoType">
    <xsd:sequence>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="YesNoType">
    <xsd:annotation>
      <xsd:documentation>Complex type using (allowing attributes) YesNoVocabularyType as its base.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="YesNoVocabularyType">
        <xsd:attributeGroup ref="CommonAttributes"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

</xsd:schema>
