activityreport/v1/activityreport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://ns.medbiq.org/activityreport/v1/"
	 targetNamespace = "http://ns.medbiq.org/activityreport/v1/"
	 xmlns:lom = "http://ltsc.ieee.org/xsd/LOM"
	 xmlns:hx = "http://ns.medbiq.org/lom/extend/v1/"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:m = "http://ns.medbiq.org/member/v1/"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://ltsc.ieee.org/xsd/LOM" schemaLocation = "http://ns.medbiq.org/lom/healthcarelom.xsd"/>
	<xsd:import namespace = "http://ns.medbiq.org/lom/extend/v1/" schemaLocation = "http://ns.medbiq.org/lom/healthcare/healthcaremetadata.xsd"/>
	<xsd:import namespace = "http://ns.medbiq.org/member/v1/" schemaLocation = "http://ns.medbiq.org/member/v1/member.xsd"/>
	<!--Copyright © 2009 MedBiquitous Consortium. All Rights Reserved. http://www.medbiq.org-->
	
	
	<!--Users are bound by the terms of the MedBiquitous Consortium XML Public License and Terms of Use-->
	
	
	<!--Modified 27 August 2009 -->
	
	<xsd:simpleType name = "StatusType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "Registered"/>
			<xsd:enumeration value = "Completed"/>
			<xsd:enumeration value = "Expired"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "NonNullString">
		<xsd:restriction base = "xsd:string">
			<xsd:minLength value = "1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name = "ModuleNameType">
		<xsd:simpleContent>
			<xsd:extension base = "NonNullString">
				<xsd:attribute name = "moduleID" type = "xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name = "ModuleType">
		<xsd:sequence>
			<xsd:element name = "ModuleName" type = "ModuleNameType"/>
			<xsd:element name = "Metadata" type = "MetadataType" minOccurs = "0"/>
			<xsd:element name = "Status" type = "StatusType"/>
			<xsd:element name = "StartDateTime" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "EndDateTime" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "DueDateTime" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "RegisteredDateTime" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "CompletedDateTime" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "ExpiredDateTime" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "TimeEngaged" type = "xsd:duration" minOccurs = "0"/>
			<xsd:element name = "Results" type = "NonNullString" minOccurs = "0"/>
			<xsd:element name = "CreditCertificate" type = "CreditCertificateType" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "ResourceUsedType">
		<xsd:sequence>
			<xsd:element name = "Title" type = "NonNullString"/>
			<xsd:element name = "Collection" type = "NonNullString" minOccurs = "0"/>
			<xsd:element name = "CollectionID" type = "CollectionIDType" minOccurs = "0"/>
			<xsd:element name = "ResourceLocation" type = "xsd:anyURI" minOccurs = "0"/>
			<xsd:element name = "Relevant" type = "xsd:boolean" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "CollectionIDType">
		<xsd:simpleContent>
			<xsd:extension base = "xsd:string">
				<xsd:attribute name = "type" type = "xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name = "PointOfCareLearningDataType">
		<xsd:sequence>
			<xsd:element name = "ClinicalQuestionOrTopic" type = "NonNullString"/>
			<xsd:element name = "SearchParameters" type = "NonNullString" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "ResourceUsed" type = "ResourceUsedType" maxOccurs = "unbounded"/>
			<xsd:element name = "ApplicationToPractice" type = "NonNullString"/>
		</xsd:sequence>
		<xsd:attribute name = "id" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "ActivityType">
		<xsd:sequence>
			<xsd:element name = "ProviderOrganization" type = "NonNullString"/>
			<xsd:element name = "ActivityName" type = "NonNullString"/>
			<xsd:element name = "Module" type = "ModuleType" maxOccurs = "unbounded"/>
			<xsd:element name = "PointOfCareLearningData" type = "PointOfCareLearningDataType" minOccurs = "0"/>
		</xsd:sequence>
		<xsd:attribute name = "activityID" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "ActivityReportType">
		<xsd:sequence>
			<xsd:element name = "ReportingOrganization" type = "NonNullString"/>
			<xsd:element name = "Member" type = "m:MemberType"/>
			<xsd:element name = "Activity" type = "ActivityType" maxOccurs = "unbounded"/>
			<xsd:element name = "XtensibleInfo" type = "XtensibleInfoType" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "ActivityReports">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "DateTimeCreated" type = "xsd:dateTime"/>
				<xsd:element name = "ActivityReport" type = "ActivityReportType" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "CreditCertificateType">
		<xsd:sequence>
			<xsd:element name = "CreditReceived" type = "CreditReceivedType"/>
			<xsd:element name = "CreditID" type = "xsd:anyURI"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "MetadataType">
		<xsd:choice>
			<xsd:element ref = "lom:lom"/>
			<xsd:element name = "location" type = "NonNullString"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name = "XtensibleInfoType">
		<xsd:sequence>
			<xsd:any namespace = "##other" processContents = "lax" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "CreditReceivedType">
		<xsd:complexContent>
			<xsd:extension base = "hx:creditsType">
				<xsd:sequence>
					<xsd:element name = "CreditFocus" type = "CreditFocusType" minOccurs = "0" maxOccurs = "unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "CreditFocusType">
		<xsd:sequence>
			<xsd:element name = "Description" type = "NonNullString"/>
			<xsd:element name = "Code" type = "NonNullString" minOccurs = "0"/>
			<xsd:element name = "NumberOfCredits" type = "xsd:decimal"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>