competencyobject/v1/competency_object.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://ns.medbiq.org/competencyobject/v1/" xmlns:lom="http://ltsc.ieee.org/xsd/LOM" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://ns.medbiq.org/competencyobject/v1/" elementFormDefault="qualified">
	<xsd:import namespace="http://ltsc.ieee.org/xsd/LOM" schemaLocation="http://ns.medbiq.org/lom/healthcarelom.xsd"/>
		<xsd:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd"/>
	<!-- Copyright © 2010 MedBiquitous Consortium. All Rights Reserved. http://www.medbiq.org -->
	<!-- Users are bound by the terms of the MedBiquitous Consortium XML Public License and Terms of Use -->
	<!-- Modified 14 September 2010 -->
	<xsd:simpleType name="NonNullString">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="XtensibleInfoType">
		<xsd:sequence>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencesType">
		<xsd:sequence>
			<xsd:element name="Reference" type="NonNullString" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SupportingInformationType">
		<xsd:choice>
			<xsd:element name="Link" type="xsd:anyURI"/>
			<xsd:element ref="xhtml:div"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="CompetencyObject">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="lom:lom"/>
				<xsd:element name="Category" type="CategoryType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="References" type="ReferencesType" minOccurs="0"/>
				<xsd:element name="SupportingInformation" type="SupportingInformationType" minOccurs="0"/>
				<xsd:element name="XtensibleInfo" type="XtensibleInfoType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CategoryType">
		<xsd:attribute name="term" type="xsd:string" use="required"/>
		<xsd:attribute name="scheme" type="xsd:anyURI"/>
		<xsd:attribute name="label" type="xsd:string"/>
	</xsd:complexType>
</xsd:schema>
