metrics/v2/medicaleducationmetrics_2013_01_28.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Valerie Smothers (Johns Hopkins University) -->
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://ns.medbiq.org/metrics/v2/" xmlns:lom="http://ltsc.ieee.org/xsd/LOM" xmlns:hx="http://ns.medbiq.org/lom/extend/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ar="http://ns.medbiq.org/activityreport/v1/" targetNamespace="http://ns.medbiq.org/metrics/v2/" elementFormDefault="qualified">
	<xsd:import namespace="http://ltsc.ieee.org/xsd/LOM" schemaLocation="http://ns.medbiq.org/lom/healthcarelom.xsd"/>
	<xsd:import namespace="http://ns.medbiq.org/lom/extend/v1/" schemaLocation="http://ns.medbiq.org/lom/healthcare/healthcaremetadata.xsd"/>
	<xsd:import namespace="http://ns.medbiq.org/activityreport/v1/" schemaLocation="http://ns.medbiq.org/activityreport/v1/activityreport.xsd"/>
	<!--Copyright © 2013 MedBiquitous Consortium. All Rights Reserved. http://www.medbiq.org-->
	<!--Users are bound by the terms of the MedBiquitous Consortium XML Public License and Terms of Use-->
	<!--Modified 28 January 2013-->
	<xsd:simpleType name="ClassificationRelationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Assessment Addresses"/>
			<xsd:enumeration value="Instruction Addresses"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonNullString">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PointsType">
		<xsd:restriction base="xsd:decimal">
			<xsd:maxInclusive value="10"/>
			<xsd:minInclusive value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BeforeDuringAfterType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Before"/>
			<xsd:enumeration value="During"/>
			<xsd:enumeration value="After"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ScoreMethodType">
		<xsd:annotation>
			<xsd:documentation>ScoreMethodType leverages the TestScoreMethodType definition from the Postsecondary Electronic Standards Council's (PESC)
Core Main specification version 1.5.0, which defines an XML schema for test score reporting, among other things. The following documentation and score method values defined all come from the PESC. For more information, visit http://www.pesc.org.
Codes identifying the method used to measure and report the test scores.
Scaled - Scaled Score 
Graded - Grade Equivalent or Grade Level Indicator
Standard -  Standard Score 
Raw  -  Raw Score
Percent -  Percent of Items Correct
Mastery -  Mastery Score
Adjective - Adjective Classification or Locally Defined Score 
Stanine
Percentile
NormalCurve - Normal Curve Equivalent
Equated - Equated Score (pre-test and post-test were different)
Local -  Locally Defined
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Scaled"/>
			<xsd:enumeration value="Graded"/>
			<xsd:enumeration value="Standard"/>
			<xsd:enumeration value="Raw"/>
			<xsd:enumeration value="Percent"/>
			<xsd:enumeration value="Mastery"/>
			<xsd:enumeration value="Adjective"/>
			<xsd:enumeration value="Stanine"/>
			<xsd:enumeration value="Percentile"/>
			<xsd:enumeration value="NormalCurve"/>
			<xsd:enumeration value="Equated"/>
			<xsd:enumeration value="Local"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CurrencyType">
		<xsd:restriction base="NonNullString"/>
	</xsd:simpleType>
	<xsd:complexType name="YesNoDataType">
		<xsd:sequence>
			<xsd:element name="Yes" type="GenericResponseDataType"/>
			<xsd:element name="No" type="GenericResponseDataType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActivityDescriptionType">
		<xsd:sequence>
			<xsd:element ref="lom:lom"/>
			<xsd:element name="JointlyAccredited" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="CommercialSupporter" type="NonNullString" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CommercialSupportAmount" type="CommercialSupportAmountType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AdvertisingAndExhibitIncome" type="CurrencyAmount" minOccurs="0"/>
			<xsd:element name="OtherIncome" type="CurrencyAmount" minOccurs="0"/>
			<xsd:element name="Expenses" type="CurrencyAmount" minOccurs="0"/>
			<xsd:element name="DesignedToChangeCompetence" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="DesignedToChangePerformance" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="DesignedToChangePatientOutcomes" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="ChangesInCompetenceMeasured" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="ChangesInPerformanceMeasured" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="ChangesInPatientOutcomesMeasured" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ParticipantActivityEvaluationType">
		<xsd:sequence>
			<xsd:element name="SurveyItemData" type="SurveyItemDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ComparisonData" type="ComparisonDataType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ParticipationMetricsType">
		<xsd:sequence>
			<xsd:element name="TargetedAudience" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="RegisteredParticipants" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="NumberOfParticipantsReceivingCredit" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="CreditsAwarded" type="ar:CreditReceivedType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="NumberOfDistinctHostsOrVisitors" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="NumberOfSuccessfulPageRequests" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="NumberOfParticipantsCompletingActivity" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="ParticipantsByCategory" type="ParticipantsByCategoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ParticipantsByProfession" type="ParticipantsByProfessionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ParticipantsBySpecialty" type="ParticipantsBySpecialtyType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ParticipantsByPracticeType" type="ParticipantsByPracticeType" minOccurs="0"/>
			<xsd:element name="MultipleCategories" type="MultipleCategoriesType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Comments" type="NonNullString" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RegulatoryInformationType">
		<xsd:sequence>
			<xsd:element name="CompliantToRegulation" type="URIReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RelatedToRegulation" type="URIReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RegulatoryClassification" type="RegulatoryClassificationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="URIReferenceType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:anyURI">
				<xsd:attribute name="label"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="RegulatoryClassificationType">
		<xsd:sequence>
			<xsd:element name="ClassificationRelation" type="ClassificationRelationType"/>
			<xsd:element name="Regulation" type="URIReferenceType"/>
			<xsd:element name="ComponentID" type="NonNullString"/>
			<xsd:element name="ComponentTitle" type="NonNullString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ParticipantsByCategoryType">
		<xsd:sequence>
			<xsd:element name="CategoryName" type="NonNullString"/>
			<xsd:element name="CategoryDefinition" type="xsd:anyURI" minOccurs="0"/>
			<xsd:element name="Number" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ParticipantsByProfessionType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer">
				<xsd:attribute name="profession" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ParticipantsBySpecialtyType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer">
				<xsd:attribute name="specialty" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="XtensibleInfoType">
		<xsd:annotation>
			<xsd:documentation>XtensibleInfoType contains sub-elements defined by the organization 
implementing the schema. 
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TopicsToLearnMoreAboutType">
		<xsd:sequence>
			<xsd:element name="Response" type="FreeTextDataType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FreeTextDataType">
		<xsd:sequence>
			<xsd:element name="TextResponse" type="NonNullString"/>
			<xsd:element name="AnalysisCategory" type="VocabularyTerm"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RespondentsByCategoryType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer">
				<xsd:attribute name="respondentCategory" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ResponseItemDataType">
		<xsd:sequence>
			<xsd:element name="ResponseText" type="NonNullString"/>
			<xsd:element name="TotalRespondents" type="xsd:integer"/>
			<xsd:element name="FreeTextData" type="FreeTextDataType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="source" type="xsd:string"/>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="MultipleChoiceDataType">
		<xsd:sequence>
			<xsd:element name="ResponseItemData" type="ResponseItemDataType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SurveyItemDataType">
		<xsd:sequence>
			<xsd:element name="SurveyQuestion" type="NonNullString"/>
			<xsd:element name="ResponseData" type="ResponseDataType"/>
		</xsd:sequence>
		<xsd:attribute name="source" type="xsd:string"/>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="ResponseDataType">
		<xsd:choice>
			<xsd:element name="YesNoData" type="YesNoDataType"/>
			<xsd:element name="ScaleData" type="ScaleDataType"/>
			<xsd:element name="MultipleChoiceSelectOneData" type="MultipleChoiceDataType"/>
			<xsd:element name="MultipleChoiceSelectManyData" type="MultipleChoiceDataType"/>
			<xsd:element name="FreeTextData" type="FreeTextDataType" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="MedicalEducationMetrics" type="MedicalEducationMetricsType"/>
	<xsd:complexType name="ScaleDataType">
		<xsd:sequence>
			<xsd:element name="One" type="ScaleResponseDataType"/>
			<xsd:element name="Two" type="ScaleResponseDataType"/>
			<xsd:element name="Three" type="ScaleResponseDataType"/>
			<xsd:element name="Four" type="ScaleResponseDataType" minOccurs="0"/>
			<xsd:element name="Five" type="ScaleResponseDataType" minOccurs="0"/>
			<xsd:element name="Six" type="ScaleResponseDataType" minOccurs="0"/>
			<xsd:element name="Seven" type="ScaleResponseDataType" minOccurs="0"/>
			<xsd:element name="Eight" type="ScaleResponseDataType" minOccurs="0"/>
			<xsd:element name="Nine" type="ScaleResponseDataType" minOccurs="0"/>
			<xsd:element name="Ten" type="ScaleResponseDataType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="type" type="NonNullString" use="required"/>
		<xsd:attribute name="points" type="PointsType" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ScaleResponseDataType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer">
				<xsd:attribute name="label" type="xsd:string"/>
				<xsd:attribute name="source" type="xsd:string"/>
				<xsd:attribute name="id" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="GenericResponseDataType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer">
				<xsd:attribute name="source" type="xsd:string"/>
				<xsd:attribute name="id" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ReportDescriptionType">
		<xsd:sequence>
			<xsd:element name="RespondentCategory" type="VocabularyTerm" minOccurs="0"/>
			<xsd:element name="ReportingStartDate" type="xsd:date"/>
			<xsd:element name="ReportingEndDate" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VocabularyTerm">
		<xsd:simpleContent>
			<xsd:extension base="NonNullString">
				<xsd:attribute name="source" type="xsd:string"/>
				<xsd:attribute name="id" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ComparisonDataType">
		<xsd:sequence>
			<xsd:element name="SurveyItemDataForComparison" type="SurveyItemDataForComparisonType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MedicalEducationMetricsType">
		<xsd:sequence>
			<xsd:element name="ReportDescription" type="ReportDescriptionType"/>
			<xsd:element name="ActivityDescription" type="ActivityDescriptionType"/>
			<xsd:element name="RegulatoryInformation" type="RegulatoryInformationType" minOccurs="0"/>
			<xsd:element name="ParticipantActivityEvaluation" type="ParticipantActivityEvaluationType" minOccurs="0"/>
			<xsd:element name="KnowledgeAssessment" type="KnowledgeAssessmentType" minOccurs="0"/>
			<xsd:element name="ParticipationMetrics" type="ParticipationMetricsType"/>
			<xsd:element name="XtensibleInfo" type="XtensibleInfoType" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SurveyItemDataForComparisonType">
		<xsd:complexContent>
			<xsd:extension base="SurveyItemDataType">
				<xsd:sequence>
					<xsd:element name="Timing" type="TimingType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TimingType">
		<xsd:simpleContent>
			<xsd:extension base="BeforeDuringAfterType">
				<xsd:attribute name="duration" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="KnowledgeAssessmentType">
		<xsd:sequence>
			<xsd:element name="MultipleChoiceAssessmentItemData" type="MultipleChoiceAssessmentItemDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AssessmentScoreData" type="AssessmentScoreDataType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MultipleChoiceAssessmentItemDataType">
		<xsd:sequence>
			<xsd:element name="Question" type="NonNullString"/>
			<xsd:element name="AssessmentResponseData" type="AssessmentResponseDataType"/>
			<xsd:element name="Timing" type="TimingType"/>
			<xsd:element name="Classification" type="lom:classification" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="source" type="xsd:string"/>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="AssessmentResponseDataType">
		<xsd:sequence>
			<xsd:element name="AssessmentResponseItemData" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ResponseItemDataType">
							<xsd:attribute name="correct" type="xsd:boolean" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AssessmentScoreDataType">
		<xsd:sequence>
			<xsd:element name="AssessmentName" type="NonNullString"/>
			<xsd:element name="ScoreMethod" type="ScoreMethodType"/>
			<xsd:element name="ScoreValue" type="NonNullString" maxOccurs="unbounded"/>
			<xsd:element name="Timing" type="TimingType"/>
			<xsd:element name="Classification" type="lom:classification" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Description" type="NonNullString" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="source" type="xsd:string"/>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="CommercialSupportAmountType">
		<xsd:complexContent>
			<xsd:extension base="CurrencyAmount">
				<xsd:attribute name="supportSource" type="NonNullString"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CurrencyAmount">
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer">
				<xsd:attribute name="currency" type="CurrencyType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MultipleCategoriesType">
		<xsd:sequence>
			<xsd:element name="TotalNumber" type="xsd:integer"/>
			<xsd:choice minOccurs="2" maxOccurs="unbounded">
				<xsd:element name="Profession" type="NonNullString"/>
				<xsd:element name="Specialty" type="NonNullString"/>
				<xsd:element name="PracticeType" type="NonNullString"/>
				<xsd:element name="Category" type="CategoryType"/>
			</xsd:choice>
			<xsd:element name="TargetedAudience" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Registered" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="NumberReceivingCredit" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="CreditsAwarded" type="ar:CreditReceivedType" minOccurs="0"/>
			<xsd:element name="NumberOfDistinctHostsOrVisitors" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="NumberOfSuccessfulPageRequests" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="NumberCompletingActivity" type="xsd:integer" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CategoryType">
		<xsd:sequence>
			<xsd:element name="CategoryName" type="NonNullString"/>
			<xsd:element name="CategoryDefinition" type="xsd:anyURI" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ParticipantsByPracticeType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer">
				<xsd:attribute name="practiceType" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
