name/v1/name.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://ns.medbiq.org/name/v1/"
	 targetNamespace = "http://ns.medbiq.org/name/v1/"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<!--Copyright © 2007 MedBiquitous Consortium. All Rights Reserved. http://www.medbiq.org-->
	
	
	<!--Modified November 27, 2007-->
	
	<xsd:simpleType name = "NonNullString">
		<xsd:restriction base = "xsd:string">
			<xsd:minLength value = "1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name = "NameDetails">
		<xsd:sequence>
			<xsd:element name = "FormattedName" type = "NonNullString" minOccurs = "0"/>
			<xsd:element name = "Title" type = "NonNullString" minOccurs = "0"/>
			<xsd:element name = "GivenName" type = "NonNullString" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "FamilyName" type = "NonNullString" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "GenerationIdentifier" type = "NonNullString" minOccurs = "0"/>
			<xsd:element name = "Degree" type = "NonNullString" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "NameType">
		<xsd:complexContent>
			<xsd:extension base = "NameDetails">
				<xsd:sequence>
					<xsd:element name = "Alias" type = "NameDetails" minOccurs = "0" maxOccurs = "unbounded"/>
					<xsd:element name = "FormerName" type = "NameDetails" minOccurs = "0" maxOccurs = "unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name = "Name" type = "NameType"/>
</xsd:schema>