lom/healthcare/healthcarevocabularies.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.2.7. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns = "http://ns.medbiq.org/lom/vocab/v1/"
	 targetNamespace = "http://ns.medbiq.org/lom/vocab/v1/"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xs:annotation>
		<xs:documentation> This is a MedBiquitous defined set of LOM custom vocabularies for healthcare.</xs:documentation>
	</xs:annotation>
	<!-- Vocabulary enumeration declarations -->
	
	
	<!-- Source -->
	
	<xs:simpleType name = "sourceValues">
		<xs:restriction base = "xs:token">
			<xs:enumeration value = "HEALTHCARE_LOMv1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name = "roleValues">
		<xs:restriction base = "xs:token">
			<xs:enumeration value = "other"/>
			<xs:enumeration value = "reviewer"/>
			<xs:enumeration value = "programmer"/>
			<xs:enumeration value = "producer"/>
			<xs:enumeration value = "director"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name = "learningResourceTypeValues">
		<xs:restriction base = "xs:token">
			<xs:enumeration value = "animation"/>
			<xs:enumeration value = "audio"/>
			<xs:enumeration value = "case study"/>
			<xs:enumeration value = "collaborative forum"/>
			<xs:enumeration value = "game"/>
			<xs:enumeration value = "image"/>
			<xs:enumeration value = "reference"/>
			<xs:enumeration value = "tutorial"/>
			<xs:enumeration value = "video"/>
			<xs:enumeration value = "virtual patient"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name = "contextValues">
		<xs:restriction base = "xs:token">
			<xs:enumeration value = "patient education"/>
			<xs:enumeration value = "caregiver education"/>
			<xs:enumeration value = "primary education"/>
			<xs:enumeration value = "secondary education"/>
			<xs:enumeration value = "vocational training"/>
			<xs:enumeration value = "undergraduate education"/>
			<xs:enumeration value = "undergraduate professional education"/>
			<xs:enumeration value = "graduate professional education"/>
			<xs:enumeration value = "continuing professional development"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name = "purposeValues">
		<xs:restriction base = "xs:token">
			<xs:enumeration value = "learning outcome"/>
			<xs:enumeration value = "clinical guideline"/>
			<xs:enumeration value = "drug list"/>
			<xs:enumeration value = "level of evidence"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- 2.3.1 Role -->
	
	
	<!-- 5.6 Context -->
	
	
	<!-- 9.1 Purpose -->
	
</xs:schema>